<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>收货地址</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">收货地址</p>
    <span class="edit_btn" onclick="location='/html/editAddress.html'">新增</span>
</div>
<div id="address"></div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="/html/index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="/html/store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="/html/shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="/html/personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="address_template">
    <div class="address_body">
        <% if(address.length==0){ %>
        <div class="empty_address">
            <img src="/images/personal/personal_52.png" alt="">
            还未添加收货地址~
        </div>
        <% }else{ %>
        <ul class="address_lists">
            <% _.each(address,function(add){ %>
            <li>
                <div class="title">
                <span class="name">
                    <img src="/images/order/shopping_24.png" alt="">
                    <%= add.consignee %>
                </span>
                    <span class="phone">
                    <img src="/images/order/shopping_30.png" alt="">
                    <%= add.mobile %>
                </span>
                </div>
                <div class="address">
                    <img src="/images/order/shopping_27.png" alt="">
                    <p><%= add.provinceName %><%= add.cityName %><%= add.suburbName %><%= add.unitDetail %></p>
                </div>
                <div class="edit_address">
                    <span class="is_default">
                    <% if(add.default===true){ %>
                        <span>
                            <img src="/images/shoppingcar/shopping_57.png" alt="">
                            默认地址
                        </span>
                    <% }else{ %>
                    <span class="default" data-id="<%= add.id %>">
                        <img src="/images/shoppingcar/shopping_60.png" alt="">
                        设为默认
                        </span>
                    <% } %>
                    </span>
                    <span class="delete"  data-id="<%= add.id %>">
                    <img src="/images/personal/personal_20.png" alt="">
                    删除
                </span>
                    <span class="edit" onclick="location='/html/updateAddress.html?id=<%= add.id %>'">
                    <img src="/images/personal/personal_23.png" alt="">
                    编辑
                </span>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var address_template = _.template($("#address_template").html());
        function get_address() {
            ajax({
                url: "/user/addresses",
                success: function (json) {
                    if (json.error) {
                        return;
                    }
                    $("#address").html(address_template({"address": json.success}));
                    $(".address_lists").delegate(".delete","click",delete_address);
                    $(".address_lists").delegate(".default","click",set_def);
                }
            });
        }
        function delete_address() {
            var $this = $(this);
            var id = $this.attr("data-id");
            ajax({
                url: "/user/address/delete",
                type: "post",
                data: {id: id},
                success: function (json) {
                    if (!json.error) {
                        swal({
                                title: "",
                                text: "地址删除成功"
                            },
                            function () {
                                window.location.reload();
                            }
                        );
                    }
                }
            })
        }
        function set_def() {
            var $this = $(this);
            var id = $this.attr("data-id");
            ajax({
                url: "/user/address/set_default",
                type: "post",
                data: {id: id},
                success: function (json) {
                    if (!json.error) {
                        console.log(json);
                        swal({
                                title: "",
                                text: "默认地址设置成功"
                            },
                            function () {
                                window.location.reload();
                            }
                        );
                    }
                }
            });
        }




        get_address();

    });

</script>
</html>