<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>评价</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <img src="/images/tab/tab_03.png" alt="" onclick="location='/html/commentOrder.html'">
    <p class="title">追加评价</p>
</div>
<div class="createComment">
    <div id="info">
        <div class="SKU_info">
            <div class="SKU_img" style="background-image: url('/file/public/1406.jpeg')"></div>
            <div class="SKU_content">
                <div class="SKU_name">成人型 <span id="quantity">X3</span></div>
                <ul class="score">
                    <li style="background-image: url('/images/personal/personal_38.png')"></li>
                    <li style="background-image: url('/images/personal/personal_38.png')"></li>
                    <li style="background-image: url('/images/personal/personal_38.png')"></li>
                    <li style="background-image: url('/images/personal/personal_38.png')"></li>
                    <li style="background-image: url('/images/personal/personal_38.png')"></li>
                </ul>
            </div>
        </div>
        <div class="firstPost">
            <p>很好，疗效好。吃完腰不酸腿不痛，一口气上六楼不费劲。</p>
            <div class="firstImgList">
                <div class="firstImg"></div>
                <div class="firstImg"></div>
                <div class="firstImg"></div>
                <div class="firstImg"></div>
            </div>
        </div>
    </div>
    <div class="comment_content">
        <h2>评价内容</h2>
        <textarea name="" id="comment" cols="30" rows="10">在此输入您的评价内容 </textarea>
    </div>
    <div class="comment_img">
        <h2>晒图 <span>（最多5张哦~）</span></h2>
        <div class="images">
            <div class="img addButton">
                <input type="file" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp" id="file" class="upAvatar">
                <div class="cover" style="background-image: url('/images/tab/evaluate_08.png')"></div>
                <span>添加照片</span>
            </div>
            <div class='img cover'></div>
            <div class='img cover'></div>
            <div class='img cover'></div>
            <div class='img cover'></div>
            <div class="img cover"></div>
        </div>
        <p>为了帮助我们更好的解决问题，请上传照片。最多5张，每张不超过5M，支持JPG、BPM、PNG</p>
    </div>
    <div class="submit_button">发表评论</div>
</div>
</body>
<script type="text/template" id="info_template">
    <div class="SKU_info">
        <div class="SKU_img" style="background-image: url('/file/public/<%= info.image.id %>.<%= info.image.ext %>')"></div>
        <div class="SKU_content">
            <div class="SKU_name"><%= info.skuName %> <span>X<%= info.quantity %></span></div>
            <ul class="score">
                <% for(var i=0; i<(info.score);i++){ %>
                <li style="background-image: url('/images/personal/personal_35.png')"></li>
                <% } %>
                <% for(var i=0; i<(5-info.score);i++){ %>
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="firstPost">
        <p><%= info.post.post %></p>
        <div class="firstImgList">
            <% _.each(info.post.postImages,function(image){ %>
            <div class="firstImg cover" style="background-image: url('/file/public/<%= image.id %>.<%= image.ext %>')"></div>
            <% }); %>
        </div>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id=get_query_string("id");

        var imgConst=1;

        var template = _.template($("#info_template").html());

        var data={
            id:id,
            post:'',
            images:[]
        };

        //传图
        $("#file").change(function () {
            if(imgConst>5){
                swal("","最多上传5张图片");
                return;
            }else{
                upload(function (json) {
                    data.images.push(json.success);
                    var imgUrl="/file/public/";
                    imgUrl=imgUrl+json.success.id+"."+json.success.ext;
                    $(".images .img")[imgConst].style.backgroundImage="url("+imgUrl+")";
                    imgConst=imgConst+1;
                });
            }
        });



        //获取评价详情
        ajax({
            url:"/product/post",
            data:{id:id},
            success:function (json) {
                if(json.error){
                    swal("","获取失败");
                    return;
                }else{
                    $("#info").html(template({"info":json.success}));
                }
            }
        });

        //输入评价内容,自动获取焦点
        $("#comment").click(function () {
            $("#comment").attr("autofocus");
            $("#comment").html("");
        });

        //提交评价
        function subComment() {
            data.post=$("#comment").val();
            if(data.post==="在此输入您的评价内容"||!data.post){
                swal("","请输入您的评价详情");
            }else{
                ajax({
                    url:"/product/post/additional",
                    type:"post",
                    data:stringify(data,{allowDots:true}),
                    success:function(json){
                        if(json.error){
                            swal("",json.error.message);
                            return;
                        }
                        swal({
                                title: "",
                                text: "追评发表成功"
                            },
                            function () {
                                window.location.href = '/html/commentOrderDone.html';
                            }
                        );
                    }
                })
            }
        }
        $(".submit_button").click(subComment);
    });
</script>
</html>