<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>商品详情</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="detail_header">
    <div class="items">
        <span><a href="#" id="product_menu">商品</a></span>
        <span><a href="#" id="instruction_menu">说明书</a></span>
        <span class="active"><a href="#" id="post_menu">评论</a></span>
    </div>
</div>
<div class="comment" id="comment">
</div>
</body>
<script type="text/template" id="comment_template">
    <ul>
        <% if(data.length===0){ %>
            <p>暂无用户评价</p>
        <% }else{ %>
        <% _.each(data,function(comment){ %>
        <li>
            <% if(comment.portraitImage){ %>
            <div class="user_avatar cover" style="background-image: url('/file/public/<%=comment.portraitImage.id%>.<%=comment.portraitImage.ext%>')"></div>
            <% }else{ %>
            <div class="user_avatar cover" style="background-image: url('/images/personal/avatar.png')"></div>
            <% } %>
            <div class="comment_detail">
                <div class="detail_title">
                    <span class="user_name"><%=comment.userName%></span>
                    <span class="comment_time"><%=comment.firstPostCreateAt[0]%>-<%=comment.firstPostCreateAt[1]%>-<%=comment.firstPostCreateAt[2]%></span>
                </div>
                <ul class="score">
                    <% for(var i=0;i<comment.score;i++){ %>
                    <li style="background-image: url('/images/personal/personal_35.png')"></li>
                    <% } %>
                </ul>
                <div class="describe">
                    <%=comment.firstPost%>
                </div>
                <div class="product_SKU">
                    <span class="product"><%=comment.skuName%></span>
                </div>
            </div>
        </li>
        <% })}; %>
    </ul>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/swiper.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id = get_query_string("id");
        var $instruction_menu = $("#instruction_menu");
        $instruction_menu.click(function () {
            if (!$instruction_menu.hasClass("active")) {
                window.location.href = "/html/specification.html?id=" + id;
            }
        });
        var $product_menu = $("#product_menu");
        $product_menu.click(function () {
            if (!$product_menu.hasClass("active")) {
                window.location.href = "/html/productDetails.html?id=" + id;
            }
        });
        var $post_menu = $("#post_menu");
        $post_menu.click(function () {
            if (!$post_menu.hasClass("active")) {
                window.location.href = "/html/comment.html?id=" + id;
            }
        });
        ajax({
            url: "/product/post/by_product",
            data: {
                productID: id,
                drop: 0,
                take: 50
            },
            success: function (json) {
                $("#comment").html(_.template($("#comment_template").html())({"data": json.success.list}));
            }
        });
    });
</script>
</html>