<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>评价列表</title>
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">评价列表</p>
</div>
<div class="status">
    <div class="pending">
        <a href="/html/commentOrder.html">
            <h3>待评价</h3>
            <div class="count" id="wait_comment">
                0
            </div>
        </a>
    </div>
    <div class="done">
        <h3>已评价</h3>
        <div class="count" id="done_comment">
            0
        </div>
    </div>
</div>
<div id="comment_order_list">
    <a href="/product/posts?drop=0&take=10" class="bottom_info">正在加载数据...</a>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="/html/index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="/html/store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="/html/shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="/html/personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="comment_order_template">
    <% if(count>0){ %>
    <ul class="comment_order">
        <% _.each(list,function(sku){ %>
        <li>
            <div class="SKU_info">
                <div class="left"><div class="SKU_img" style="background-image: url('/file/public/<%= sku.image.id %>.<%= sku.image.ext %>')"></div></div>
                <div class="SKU_content">
                    <div class="SKU_name"><%= sku.skuName %> <span id="quantity">X<%= sku.quantity %></span></div>
                    <div class="SKU_describe">
                        <% _.each(sku.specs,function(spec){ %>
                        <span>
                                <%= spec.keyName %>:<%= spec.value %>
                            </span>
                        <% }); %>
                    </div>
                    <div class="SKU_price">
                        ￥<%= sku.salesPrice.toFixed(2) %>
                    </div>
                    <div class="buttons">
                        <button onclick="location='/html/orderDetail.html?id=<%= sku.orderID %>'">查看订单</button>
                        <% if(sku.additionalPost){ %>
                        <button onclick="location='/html/commentDetail.html?id=<%= sku.id %>'">评价详情</button>
                        <% }else{ %>
                        <button onclick="location='/html/addtionalComment.html?id=<%= sku.id %>'">追加评价</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </li>
        <% }) %>
        <% if(drop < count){ %>
        <a href="/product/posts?drop=<%=drop%>&take=10" class="bottom_info">--- 下拉加载更多数据 ---</a>
        <% } else { %>
        <span class="bottom_info">--- 已全部加载完毕 ---</span>
        <% } %>
    </ul>
    <% }else{ %>
        <p class="p">暂无已评价产品</p>
    <% } %>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {

        var template = _.template($("#comment_order_template").html());
        //获取数据列表并进行模板渲染
        function render(data) {
            $("#comment_order_list").append(template(data));
            $("#done_comment").html(data.count);
            ajax({
                url:"/product/orders/skus/wait_post",
                success:function (json) {
                    $("#wait_comment").html(json.success.count);
                }
            });
        }
        scroll_load_more("a.bottom_info", render);
    });
</script>
</html>