<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的药箱</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">优惠券</p>
</div>
<div class="coupon_body">
    <div class="coupon_category" id="coupon_tab">
        <span class="available active">可使用</span>
        <span class="used">已使用</span>
        <span class="unavailable">不可用</span>
    </div>
    <div id="coupon_lists"></div>
    <a href="/product/user_coupons?drop=0&take=10" class="bottom_info">--- 下拉加载更多数据 ---</a>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="coupon_list_template">
    <ul class="coupon_lists">
        <% if(success){ %>
        <% _.each(success.list,function(coupon){ %>
        <li class="coupon_<%= coupon.value %>">
            <div class="coupon_value">
                <span class="unit">￥</span>
                <span class="value_num"><%= coupon.value %></span>
                <p>
                    <span class="coupon_title"><%= coupon.couponName %></span>
                    <span class="date_limit">
                        <%= coupon.acquireAt[0] %>.<%= coupon.acquireAt[1] %>.<%= coupon.acquireAt[2] %>~<%= coupon.expireAt[0] %>.<%= coupon.expireAt[1] %>.<%= coupon.expireAt[2] %>
                    </span>
                </p>
            </div>
            <div class="coupon_detail">
                <h3>详情 <img src="/images/personal/personal_49.png" alt=""></h3>
                <p><%= coupon.description %></p>
            </div>
        </li>
        <% }) %>
        <% if(drop < success.count){ %>
        <a href="/product/user_coupons?drop=<%=drop%>&take=10" class="bottom_info">--- 下拉加载更多数据 ---</a>
        <% } else { %>
        <span class="bottom_info">--- 已全部加载完毕 ---</span>
        <% } %>
        <% }else{ %>
        <a href="/product/user_coupons?drop=0&take=10" class="bottom_info">--- 下拉加载更多数据 ---</a>
        <% } %>
    </ul>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var template = _.template($("#coupon_list_template").html());
        scroll_load_more("#coupon_lists", template, "a.bottom_info",{});
    });
</script>
</html>
