<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>评价</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <img src="/images/tab/tab_03.png" alt="" onclick="location='/html/comment_order.html'">
    <p class="title">评价</p>
</div>
<div class="createComment">
    <div id="info"></div>
    <div class="comment_content">
        <h2>评价内容</h2>
        <textarea name="" id="comment" cols="30" rows="10">在此输入您的评价内容 </textarea>
    </div>
    <div class="comment_img">
        <h2>晒图 <span>（最多5张哦~）</span></h2>
        <div class="images">
            <div class="img addButton">
                <div class="cover" style="background-image: url('/images/tab/evaluate_08.png')"></div>
                <span>添加照片</span>
            </div>
            <div class='img'></div>
            <div class='img'></div>
            <div class='img'></div>
            <div class='img'></div>
            <div class="img"></div>
        </div>
        <p>为了帮助我们更好的解决问题，请上传照片。最多5张，每张不超过5M，支持JPG、BPM、PNG</p>
    </div>
    <div class="submit_button">发表评论</div>
</div>
</body>
<script type="text/template" id="info_template">
    <div class="SKU_info">
        <div class="SKU_img" style="background-image: url('/file/public/<%= info.image.id %>.<%= info.image.ext %>')"></div>
        <div class="SKU_content">
            <div class="SKU_name"><%= info.name %> <span id="quantity">X3</span></div>
            <ul class="score">
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
                <li style="background-image: url('/images/personal/personal_38.png')"></li>
            </ul>
        </div>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id=get_query_string("id");
        var orderID=get_query_string("orderID");
        var quantity=get_query_string("quantity");
        var template = _.template($("#info_template").html());

        var comboID=get_query_string("productComboID")||undefined;

        var data={
            orderID:orderID,
            skuID:id,
            comboID:comboID,
            score:0,
            firstPost:'',
            postImages:undefined
        }


        //星星打分
        function star() {
            var $this=$(this);
            var greenStar="background-image: url('/images/personal/personal_35.png')";
            var whiteStar="background-image: url('/images/personal/personal_38.png')";
            if($this.attr('style')===whiteStar){
                $this.attr("style",greenStar);
                $this.prevAll().attr("style",greenStar);
            }else{
                $this.nextAll().attr("style",whiteStar);
            }
            data.score=$this.prevAll().length+1;
        }

        //获取sku详情
        getSKU();

        function getSKU() {
            ajax({
                url:"/product/sku",
                data:{id:id},
                success:function (json) {
                    if(json.error){
                        return;
                    }
                    $("#info").html(template({"info":json.success}));
                    $("#quantity").html("x"+quantity);
                    $(".score").delegate("li","click",star);
                }
            });
        }


        //输入评价内容,自动获取焦点
        $("#comment").click(function () {
            $("#comment").attr("autofocus");
            $("#comment").html("");
        });

        //提交评价
        function subComment() {
            data.firstPost=$("#comment").val();
            if(!data.orderID){
                swal("","无效的订单号");
            }else if(!data.skuID){
                swal("","无效的产品规格");
            }else if(data.score===0){
                swal("","请给产品打分");
            }else if(data.firstPost==="在此输入您的评价内容"||!data.firstPost){
                swal("","请输入您的评价详情");
            }else{
                ajax({
                    url:"/product/post/first",
                    type:"post",
                    data:data,
                    success:function(json){
                        if(json.error){
                            swal("",json.error.message);
                            return;
                        }
                        swal({
                                title: "",
                                text: "评价发表成功"
                            },
                            function () {
                                window.location.href = '/html/comment_order.html';
                            }
                        );
                    }
                })
            }
        }
        $(".submit_button").click(subComment);
    });
</script>
</html>