<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>收货地址</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">收货地址</p>
</div>
<div class="edit_body">
    <div class="name">
        <img src="/images/personal/personal_26.png" alt="">
        <input type="text" placeholder="收货人" id="consignee">
    </div>
    <div class="phone">
        <img src="/images/personal/personal_29.png" alt="">
        <input type="number" placeholder="手机号码" id="mobile">
    </div>
    <div class="department">
        <img src="/images/personal/personal_32.png" alt="">
        收货区域
    </div>
    <div class="department_select" id="suburbID">
        <select name="province" id="provinces">
            <option value="default">请选择省份</option>
        </select>
        <select name="city" id="cities">
            <option value="default">请选择城市</option>
        </select>
        <select name="suburb" id="suburbs">
            <option value="default">请选择地区</option>
        </select>
    </div>
    <div class="detail_address">
        <h2>详细地址</h2>
        <textarea name="" id="detailed_adr" cols="30" rows="5">
        </textarea>
        <span id="isDefault">
            <img src="/images/shoppingcar/shopping_60.png" alt="">
            设为默认
        </span>
        <div class="save_btn" id="save_btn">保存设置</div>
    </div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
<script type="text/template" id="province_template">
    <% _.each(provinces,function(province){ %>
    <option value="<%= province.id %>"><%= province.name %></option>
    <% }) %>
</script>
<script type="text/template" id="city_template">
    <option value="default">请选择城市</option>
    <% _.each(cities,function(city){ %>
    <option value="<%= city.id %>"><%= city.name %></option>
    <% }) %>
</script>
<script type="text/template" id="suburb_template">
    <option value="default">请选择地区</option>
    <% _.each(suburbs,function(suburb){ %>
    <option value="<%= suburb.id %>"><%= suburb.name %></option>
    <% }) %>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        function get_provinces(){
            ajax({
                url:"/region/provinces",
                type:"get",
                success:function(json){
                    if(!json.error){
                        var province_template = _.template($("#province_template").html());
                        $("#provinces").append(province_template({"provinces": json.success}));
                    }
                }
            })
        }
        function get_cities(id){
            ajax({
                url:"/region/cities",
                type:"get",
                data:{provinceID:id},
                success:function(json){
                    if(!json.error){
                        var city_template = _.template($("#city_template").html());
                        $("#cities").html(city_template({"cities": json.success}));
                    }
                }
            })
        }
        function get_suburbs(id){
            ajax({
                url:"/region/suburbs",
                type:"get",
                data:{cityID:id},
                success:function(json){
                    if(!json.error){
                        var suburb_template = _.template($("#suburb_template").html());
                        $("#suburbs").html(suburb_template({"suburbs": json.success}));
                    }
                }
            })
        }
        get_provinces();
        $("#provinces").change(function () {
            get_cities($("#provinces").val());
        });
        $("#cities").change(function () {
            get_suburbs($("#cities").val());
        });
        var isDefault=false;
        function set_default(){
            if(isDefault){
                $("#isDefault").html("<img src='/images/shoppingcar/shopping_60.png' alt=''>\n" + "设为默认");
            }else{
                $("#isDefault").html("<img src='/images/shoppingcar/shopping_57.png' alt=''>>\n" + "默认地址");
            }
            isDefault=!isDefault;
        }
        $("#isDefault").click(set_default);
        function addAdr() {
            var mobile=$("#mobile").val();
            var consignee=$("#consignee").val();
            var provinceID=$("#provinces").val();
            var cityID=$("#cities").val();
            var suburbID=$("#suburbs").val();
            var detailed_adr=$("#detailed_adr").val();
            var default_name=isDefault;
            ajax({
                url:"/user/address/create",
                type:"post",
                data:{
                    mobile:mobile,
                    consignee:consignee,
                    provinceID:provinceID,
                    cityID:cityID,
                    suburbID:suburbID,
                    unitDetail:detailed_adr,
                    default:default_name
                },
                success:function (json) {
                    if(!json.error){
                        show_swal = true;
                        swal({
                                title: "",
                                text: "地址新增成功"
                            },
                            function () {
                                window.location.href = '/html/address.html';
                            }
                        );
                    }
                }
            })
        }
        $("#save_btn").click(addAdr);
    })
</script>
</body>
</html>