<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的足迹</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">我的足迹</p>
    <span class="deleteFoot">清除足迹</span>
</div>
<div id="footMark">
    <a href="/products/footprint?drop=0&take=10" class="bottom_info">正在加载数据...</a>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="footMark_template">
    <div class="collectionBody">
        <% if(count>0){ %>
        <ul class="productList">
            <% _.each(list,function(pro){ %>
            <li class="pro" onclick="location='/html/productDetails.html?id=<%= pro.id %>'">
                <h3><%= pro.name %></h3>
                <div class="proImg cover" style="background-image: url('/file/public/<%= pro.image.id %>.<%= pro.image.ext %>')"></div>
                <div class="price">￥<%= pro.minSalesPrice %> <span class="salesValue">销量: <span class="saleNum"><%= pro.salesVolume %></span></span></div>
            </li>
            <% }) %>
            <% if(drop < count){ %>
            <a href="/products/footprint?drop=<%=drop%>&take=<%=take%>" class="bottom_info">--- 下拉加载更多数据 ---</a>
            <% } else { %>
            <span class="bottom_info">--- 已全部加载完毕 ---</span>
            <% } %>
        </ul>
        <% }else{ %>
            <p class="p">没有任何足迹哟~</p>
        <% } %>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var template = _.template($("#footMark_template").html());
        var $footMark = $("#footMark");
        function render_footMark(data) {
            $footMark.append(template(data));
        }
        scroll_load_more("a.bottom_info", render_footMark);

        //清空足迹
        $(".deleteFoot").click(function () {
            swal({
                title:"",
                text:"确定清空吗？",
                showCancelButton: true,
                cancelButtonText:"取消",
                confirmButtonText: "确认",
                closeOnConfirm: false
            },function () {
                ajax({
                    url:"/products/footprint/clear",
                    type:"POST",
                    success:function (json) {
                        if(json.error){
                            return;
                        }
                        swal({
                                title: "",
                                text: "足迹清空成功",
                                confirmButtonText: "确认"
                            },
                            function () {
                                window.location.reload();
                            }
                        );
                    }
                });
            });
        })
    });
</script>
</html>