<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>首页</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="../css/sweetalert.css" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
   <div class="header">
       <p>健康是一辈子的事业</p>
       <!--<div class="barcode">-->
           <!--<img src="../images/homePage/home_10@1x.png" alt="">-->
       <!--</div>-->
   </div>
   <div class="body">
       <div id="banner"></div>
       <div id="notice"></div>
       <div class="quick">
           <div class="quick_shopping" onclick="location='/html/store.html'">
               <img src="../images/homePage/02.jpg" alt="">
           </div>
           <div class="knowledge">
               <img src="../images/homePage/01.jpg" alt="">
           </div>
       </div>
       <div id="reputation"></div>
       <div id="welfare"></div>
       <div id="healthy"></div>
   </div>
   <div class="footer">
       <ul class="nav">
           <li class="active">
               <a href="">
               <img src="../images/tab/tab_47.png" alt="">
                   首页
               </a>
           </li>
           <li>
               <a href="store.html">
               <img src="../images/tab/tab_36.png" alt="">
               精品商城
               </a>
           </li>
           <li>
               <a href="/html/shoppingCar.html">
               <img src="../images/tab/tab_38.png" alt="">
               我的药箱
               </a>
           </li>
           <li>
               <a href="personal.html">
               <img src="../images/tab/tab_40.png" alt="">
               个人中心
               </a>
           </li>
       </ul>
   </div>
</body>
<script type="text/template" id="banner_template">
    <div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% _.each(images, function (image) { %>
            <div class="swiper-slide">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="/file/public/<%= image.image.id %>.<%= image.image.ext %>" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <% }); %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
    </div>
    </div>
</script>
<script type="text/template" id="notice_template">
    <div class="notice  swiper-container">
       <span class="icon">
           <img src="../images/homePage/home_33@2x.png" alt="">
           公告
       </span>
        <% _.each(notices, function (notice) { %>
        <span class="content hide">
             <div class="swiper-slide">
                <%= notice.summary %>
            </div>
        </span>
        <% }); %>
    </div>
</script>
<script type="text/template" id="reputation_template">
    <div class="reputation">
        <div class="title">
               <span class="icon">
                   <img src="../images/homePage/home_45@1x.png" alt="">
               </span>
            <span class="title-content">口碑精选</span>
            <span class="more" onclick="location='/html/store.html'">更多&gt</span>
        </div>
        <div class="product">
            <% if(product.length > 0){ %>
            <div class="pro_one cover" data-url="/html/productDetails.html?id=<%= product[0].moduleID %>"  style="background-image: url(/file/public/<%= product[0].image.id %>.<%= product[0].image.ext %>)"></div>
            <% } %>
            <% if(product.length > 1){ %>
            <div class="pro_two cover" data-url="/html/productDetails.html?id=<%= product[1].moduleID %>" style="background-image: url(/file/public/<%= product[1].image.id %>.<%= product[1].image.ext %>)"></div>
            <% } %>
            <% if(product.length > 2){ %>
            <div class="pro_three cover" data-url="/html/productDetails.html?id=<%= product[2].moduleID %>" style="background-image: url(/file/public/<%= product[2].image.id %>.<%= product[2].image.ext %>)"></div>
            <% } %>
            <% if(product.length > 3){ %>
            <div class="pro_four cover" data-url="/html/productDetails.html?id=<%= product[3].moduleID %>" style="background-image: url(/file/public/<%= product[3].image.id %>.<%= product[3].image.ext %>)"></div>
            <% } %>
        </div>
    </div>
</script>
<script type="text/template" id="welfare_template">
    <div class="welfare">
        <div class="title">
               <span class="icon">
                   <img src="../images/homePage/home_45@1x.png" alt="">
               </span>
            <span class="title-content">福利社</span>
            <span class="more">更多&gt</span>
        </div>
        <div class="content">
            <% _.each(welfare,function(wel){ %>
            <div class="welfare_s">
                <h3><%= wel.title %></h3>
                <p><%= wel.summary %></p>
                <img src="/file/public/<%= wel.image.id %>.<%= wel.image.ext %>" alt="">
            </div>
            <% }) %>
        </div>
    </div>
</script>
<script type="text/template" id="healthy_template">
    <div class="healthy">
        <div class="title">
               <span class="icon">
                   <img src="../images/homePage/home_45@1x.png" alt="">
               </span>
            <span class="title-content">健康汇</span>
            <span class="more">更多&gt</span>
        </div>
        <div class="top-news">
            <div class="img">
                <img src="/file/public/<%= healthy[0].image.id %>.<%= healthy[0].image.ext %>" alt="">
                <div class="news_content"><%= healthy[0].title %></div>
            </div>
        </div>
        <ul class="list-news">
            <% _.each(healthy,function(heal){ %>
            <li class="lists">
                <ul>
                    <li class="newsimg"><img src="/file/public/<%= heal.image.id %>.<%= heal.image.ext %>" alt=""></li>
                    <li class="newscontent">
                        <h1><%= heal.title %></h1>
                        <p><%= heal.summary %></p>
                    </li>
                    <li class="todetail"><img src="../images/homePage/home_57@1x.png" alt=""></li>
                </ul>
            </li>
            <% }) %>
        </ul>
    </div>
</script>
<script src="../javascript/jquery-3.2.1.min.js"></script>
<script src="../javascript/sweetalert.min.js"></script>
<script src="../javascript/swiper.min.js"></script>
<script src="../javascript/underscore-1.8.3.min.js"></script>
<script src="../javascript/util.js"></script>
<script>
    $(document).ready(function(){
        $(".knowledge").click(function(){
            swal("","功能开发建设中");
        });

        render_banner();

        function render_banner() {
            ajax({
                url: "/advertisement/materials/by_collection",
                data: {"collectionID": 1},
                success: function (json) {
                    if(!json.error) {
                        var banner_template = _.template($("#banner_template").html());
                        $("#banner").html(banner_template({"images": json.success}));
                        new Swiper('.swiper-container', {
                            slidesPerView: 'auto',
                            centeredSlides: true,
                            autoplay: {
                                delay: 2500
                            },
                            lazy: true,
                            pagination: {
                                el: '.swiper-pagination',
                                clickable: true
                            }
                        });
                    }
                }
            });
        }

        get_notice();

        function get_notice(){
            ajax({
                url: "/advertisement/materials/by_collection",
                data: {"collectionID": 2},
                success: function (json) {
                    if (json && json.error) {

                    } else {
                        var notice_template = _.template($("#notice_template").html());
                        $("#notice").html(notice_template({"notices": json.success}));
                        setInterval(function(){
                            var the_one = $('#notice .content').first();
                            the_one.clone(true).addClass("hide").appendTo('.notice');
                            the_one.remove();
                            $('#notice .content').first().removeClass("hide");
                            console.log();
                        },3000);
                    }
                }
            });
        }

        get_reputation();

        function get_reputation() {
            ajax({
                url: "/advertisement/materials/by_collection",
                data: {"collectionID": 3},
                success: function (json) {
                    if(json && json.error) {

                    }else {
                        var reputation_template = _.template($("#reputation_template").html());
                        $("#reputation").html(reputation_template({"product": json.success}));
                        $(".reputation .product div").click(function(){
                            window.location.href = $(this).attr("data-url");
                        });
                    }
                }
            });
        }
        get_welfare()
        function get_welfare() {
            ajax({
                url: "/advertisement/materials/by_collection",
                data: {"collectionID": 4},
                success: function (json) {
                    if(json && json.error) {

                    }else {
                        var welfare_template = _.template($("#welfare_template").html());
                        $("#welfare").html(welfare_template({"welfare": json.success}));
                    }
                }
            });
        }
        get_healthy();
        function get_healthy(){
            ajax({
                url: "/advertisement/materials/by_collection",
                data: {"collectionID": 12},
                success: function (json) {
                    if(json && json.error) {

                    }else {
                        var healthy_template = _.template($("#healthy_template").html());
                        $("#healthy").html(healthy_template({"healthy": json.success}));
                    }
                }
            });
        }
    });
</script>
</html>