<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>详情</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">详情</p>
</div>
<div id="content">
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="/html/index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="/html/store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="/html/shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="/html/personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="content_template">
    <div class="info_body">
        <h1 class="title"><%= info.title %></h1>
        <p class="time"></p>
        <div class="content">
            <div class="img" style="background-image: url('/file/public/<%= info.image.id %>.<%= info.image.ext %>')">
            </div>
            <p class="summary"><%= info.summary %></p>
        </div>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id=get_query_string("id");
        var time=get_query_string("time").split(",");
        for(i=0 ; i < time.length;i++){
            if(time[i]<10){
                time[i]="0"+time[i];
            }
        }
        ajax({
            url:"/advertisement/material/detail",
            data:{id:id},
            success:function(json){
                if(json.error){
                    return;
                }
                var content_template=_.template($("#content_template").html());
                $("#content").html(content_template({"info":json.success}));
                $(".time").html("发布时间："+time[0]+"."+time[1]+"."+time[2]+"  "+time[3]+":"+time[4]);
            }
        })
    });

</script>
</html>