<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>评价</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">我的收藏</p>
</div>
<div class="collectionBody">
    <div class="colCategory">
        <span class="product" id="product">商品</span>
        <span class="article" id="article">文章</span>
    </div>
    <div class="colContent" id="colContent"></div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="articleList_template">
    <% if(count>0){ %>
    <ul class="articleList">
        <% _.each(list,function(art){ %>
        <li class="article" onclick="location='/html/healthy.html?id=<%= art.id %>'">
            <% if(art.cover.id===0){ %>
            <div style="background-image: url('/images/homePage/no_bg.png')" class="img cover"></div>
            <% }else{ %>
            <div class="img cover" style="background-image: url('/file/public/<%= art.cover.id %>.<%= art.cover.ext %>')"></div>
            <% } %>
            <div class="content">
                <h2><%= art.title %><span class="new">new</span></h2>
                <p class="describe"><%= art.summary %></p>
                <div class="others">
                    <span class="type"><%= art.sectionName %></span>
                    <span class="date">
                    <% for(i=0 ; i < art.createAt.length;i++){
                            if(art.createAt[i]<10){
                            art.createAt[i]="0"+art.createAt[i];
                            }
                        } %>
                    <%=art.createAt[0]%>-<%=art.createAt[1]%>-<%=art.createAt[2]%>
                    </span>
                </div>
            </div>
        </li>
        <% }) %>
        <% if(drop < count){ %>
        <a href="/topics/favorite?drop=<%=drop%>&take=<%=take%>" class="bottom_info">--- 下拉加载更多数据 ---</a>
        <% } else { %>
        <span class="bottom_info">--- 已全部加载完毕 ---</span>
        <% } %>
    </ul>
    <% }else{ %>
    <p class="p">没有收藏任何文章哟~</p>
    <% } %>
</script>
<script type="text/template" id="productList_template">
    <% if(count>0){ %>
    <ul class="productList">
        <% _.each(list,function(pro){ %>
        <li class="pro">
            <h3><%= pro.name %></h3>
            <div class="proImg cover" style="background-image: url('/file/public/<%= pro.image.id %>.<%= pro.image.ext %>')" onclick="location='/html/productDetails.html?id=<%= pro.id %>'"></div>
            <div class="price">￥<%= pro.minSalesPrice %> <span class="salesValue">销量: <span class="saleNum"><%= pro.salesVolume %></span></span></div>
            <div class="proOpr">
                <div class="oprBtn cancerCol"  data-id="<%= pro.id %>">
                    <img src="/images/evaluate/collections_61.png" alt="">取消收藏
                </div>
                <div class="oprBtn" onclick="location='/html/productDetails.html?id=<%= pro.id %>&showSpec=true'">
                    <img src="/images/evaluate/collections_49.png" alt="">加入药箱
                </div>
            </div>
        </li>
        <% }); %>
        <% if(drop < count){ %>
        <a href="/products/favorite?drop=<%=drop%>&take=<%=take%>" class="bottom_info">--- 下拉加载更多数据 ---</a>
        <% } else { %>
        <span class="bottom_info">--- 已全部加载完毕 ---</span>
        <% } %>
    </ul>
    <% }else{ %>
    <p class="p">没有收藏任何产品哟~</p>
    <% } %>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {

        var type=get_query_string("type");
        var template;

        if(type=="product"){
            $("#product").addClass("active");
            $("#colContent").html('<a href="/products/favorite?drop=0&take=10" class="bottom_info">正在加载数据...</a>');
            template= _.template($("#productList_template").html());
        }else if(type=="article"){
            $("#article").addClass("active");
            $("#colContent").html('<a href="/topics/favorite?drop=0&take=10" class="bottom_info">正在加载数据...</a>');
            template= _.template($("#articleList_template").html());
        }

         //加载列表
        var $colContent = $("#colContent");
        function render_colContent(data) {
            $colContent.append(template(data));
            //取消收藏
            $(".cancerCol").click(function () {
                var cancerId=$(this).attr("data-id");
                if(type=='product'){
                    ajax({
                        url:"/product/favorite/delete",
                        type:"post",
                        data:{id:cancerId},
                        success:function(json){
                            window.location.reload();
                        }
                    });
                }
            });
        }
        scroll_load_more("a.bottom_info", render_colContent);

        //切换收藏类型
       function toggle(){
          if($(this).hasClass('active')){
              return;
          }else{
              $(this).addClass('active');
              $(this).siblings().removeClass("active");
              if($(this).hasClass('product')){
                  $("#colContent").html('<a href="/products/favorite?drop=0&take=10" class="bottom_info">正在加载数据...</a>');
                  template= _.template($("#productList_template").html());
                  type="product";
                  scroll_load_more("a.bottom_info", render_colContent);
              }else{
                  $("#colContent").html('<a href="/topics/favorite?drop=0&take=10" class="bottom_info">正在加载数据...</a>');
                  template= _.template($("#articleList_template").html());
                  type="article";
                  scroll_load_more("a.bottom_info", render_colContent);
              }
          }
       }
       $(".colCategory").delegate("span","click",toggle);

    });
</script>
</html>