<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>我的订单</title>
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">我的订单</p>
</div>
<ul class="order_tab">
    <li class="all">全部</li>
    <li class="obligation">待付款</li>
    <li class="receiving">待收货</li>
    <li class="finished">已完成</li>
    <li class="closed">待评价</li>
</ul>
<div class="order_lists"></div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script type="text/template" id="order_list_template">
    <% if(_.isNull(list)) { %>
        <a href="<%=url%>" class="load_data bottom_info">正在加载数据...</a>
    <% } else { %>
        <% _.each(list || [], function (order) { %>
        <% var StatusMap = {"pending": "待付款", "success": "待发货", "done": "已完成", "shipped": "已发货", "returning": "退款中","returned": "已退款", "failed": "付款失败", "canceled": "已取消"} %>
        <% var is_sku_not_exist = false; %>
            <div class="order_detail" data-id="<%=order.id%>">
                <div class="detail_title">
                    订单编号：<%= order.id %>
                    <span><%= StatusMap[order.status] %></span>
                </div>
                <ul class="order_product" onclick="location='orderDetail.html'">
                    <% _.each(order.items, function (item) { %>
                    <li>
                        <% if(item.sku) { %>
                        <div class="product_img"><img src="/file/public/<%= item.sku.image.id %>.<%= item.sku.image.ext %>"
                                                      alt=""></div>
                        <div class="product_details">
                            <div class="product_name">
                                <%= item.sku.name %>
                            </div>
                            <div class="detail_content">
                                <span class="product_price">￥<%= item.sku.salesPrice %></span>
                                <span class="product_amount">x<%= item.quantity %></span>
                            </div>
                        </div>
                        <% } else if(item.combo) { %>
                        <div class="order_combine_product">
                            <div class="combine_name"><%= item.combo.name %></div>
                            <ul class="combine_lists">
                                <% var combo_price = 0; %>
                                <% var combo_original_price = 0; %>
                                <% _.each(item.combo.units, function(unit) { %>
                                <% combo_price = combo_price + unit.comboPrice; %>
                                <% combo_original_price = combo_original_price + ( unit.sku.salesPrice * unit.quantity ); %>
                                <li>
                                    <div class="product_img">
                                        <img src="/file/public/<%= unit.sku.image.id %>.<%= unit.sku.image.ext %>" alt="">
                                    </div>
                                    <div class="product_details">
                                        <div class="combine_product_name">
                                            <%= unit.sku.name %>
                                        </div>
                                        <div class="detail_content">
                                            <span class="product_price">￥<%= Math.round(unit.comboPrice / unit.quantity * 100) / 100 %></span>
                                            <span class="original_price">￥<%= unit.sku.salesPrice %></span>
                                            <span class="product_amount">x<%= unit.quantity %></span>
                                        </div>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                            <div class="combine_amount">
                                <span class="price">￥<%= Math.round(combo_price * 100) / 100 %></span>
                                <span class="original_price">￥<%= Math.round(combo_original_price * 100) / 100 %></span>
                                <span class="quantity">x<%= item.quantity %></span>
                            </div>
                        </div>
                        <% } else { %>
                        <% is_sku_not_exist = true; %>
                        <div class="product_img"><img src="/images/details/home_48@3x.png" alt=""></div>
                        <div class="product_details">
                            <div class="product_name">
                                商品过期不存在
                            </div>
                            <div class="detail_content">
                                <span class="product_price"></span>
                                <span class="product_amount"></span>
                            </div>
                        </div>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
                <div class="order_amount">
                    共<%= order.items.length %>件商品 总价（含运费￥<%= order.deliveryCost %>）
                    <span class="price">￥<%= order.payment %></span>
                    <div class="operation">
                        <% if(!is_sku_not_exist && order.status === "pending") %>
                        <button class="to_pay">去支付</button>
                        <% else if(order.status === "success" || order.status === "shipped") { %>
                        <button class="done">确认收货</button>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
        <% if(drop < count) { %>
            <a href="<%=url%>" class="bottom_info load_data">--- 下拉加载更多数据 ---</a>
        <% } else { %>
            <span class="bottom_info">--- 已全部加载完毕 ---</span>
        <% } %>
    <% } %>

</script>
<script>
    $(document).ready(function () {
        var active_order_statuses = [];
        var template = _.template($("#order_list_template").html());
        var $order_lists = $(".order_lists");
        $(".order_tab").delegate("li", "click", function () {
            var $this = $(this);
            if($this.text() === "待评价") {
                swal("","功能开发建设中");
            }else {
                active_order_tab($this);
                refresh_orders();
            }
        });

        $order_lists.delegate(".operation > button", "click", function () {
            var $this = $(this);
            var order_id = $this.parents(".order_detail").attr("data-id");
            switch ($this.text()) {
                case "去支付":
                    to_pay(order_id);
                    break;

                case "确认收货":
                    order_done(order_id);
                    break;
            }
        });

        init();

        function init() {
            scroll_load_more(".load_data", append_orders);
            var status = get_query_string("status") || "all";
            $(".order_tab > li." + status).click();
        }

        function refresh_orders() {
            var url = "/product/orders/by_self?drop=0&take=10";
            _.each(active_order_statuses, function (status, index) {
                url = url + "&statuses[" + index + "]=" + status
            });
            $order_lists.html(template({list: null, drop: 0, url: url}));
            scroll_load_more(".load_data", append_orders, true);
        }

        function append_orders(data) {
            data.url = "/product/orders/by_self?drop=" + data.drop + "&take=" + data.take;
            _.each(active_order_statuses, function (status, index) {
                data.url = data.url + "&statuses[" + index + "]=" + status
            });
            $(".order_lists").append(template(data));
        }

        function active_order_tab($this) {
            if ($this.hasClass("active")) return;
            $(".order_tab > li.active").each(function () {
                $(this).removeClass("active");
            });
            $this.addClass("active");
            switch ($this.text()) {
                case "全部":
                    active_order_statuses = [];
                    break;

                case "待付款":
                    active_order_statuses = ["pending"];
                    break;

                case "待收货":
                    active_order_statuses = ["success", "shipped"];
                    break;

                case "已完成":
                    active_order_statuses = ["done"];
                    break;
            }
        }

        function to_pay(orderID) {
            ajax({
                type: "post",
                url: "/product/order/pay",
                data: {"orderID": orderID},
                success: function (json) {
                    if(json.error){
                        return;
                    }
                    window.location.href = json.success;
                }
            });
        }

        function order_done(orderID) {
            ajax({
                type: "post",
                url: "/product/order/done",
                data: {"orderID": orderID},
                success: function () {
                    if(json.error){
                        return;
                    }
                    refresh_orders();
                }
            });
        }

    });
</script>
</html>