<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>订单详情</title>
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div class="shopping_header">
    <img src="/images/tab/tab_03.png" alt="" onclick="location='/html/myOrder.html'">
    <p class="title">订单详情</p>
</div>
<div id="order_body"></div>
</body>
<script type="text/template" id="order_template">
    <div class="order_body">
        <div class="order_state">
            <% if(order.status==="pending"){ %>
            待付款
            <% }else if(order.status==="done"){ %>
            已完成
            <% }else if(order.status==="shipped"){ %>
            待发货
            <% }else if(order.status==="success"){%>
            已完成
            <% } %>
        </div>
        <div class="consignee_info">
            <div class="consignee_title">
                <img src="/images/order/shopping_02.png" alt="">
                收货人信息
            </div>
            <div class="consignee_content">
            <span class="name">
                <img src="/images/order/shopping_24.png" alt="">
                <%= order.address.consignee %>
            </span>
                <span class="phone">
                <img src="/images/order/shopping_30.png" alt="">
                <%= order.address.mobile %>
            </span>
                <div class="address">
                    <img src="/images/order/shopping_27.png" alt="">
                    <p><%= order.address.provinceName %><%= order.address.suburbName %><%= order.address.unitDetail %></p>
                </div>
            </div>
        </div>
        <ul class="order_product">
            <% _.each(order.items,function(info){ %>
            <% if(!info.combo){ %>
            <li>
                <div class="product_img cover" style="background-image: url('/file/public/<%= info.sku.image.id %>.<%= info.sku.image.ext %>')"></div>
                <div class="product_details">
                    <div class="detail_title">
                        <%= info.sku.name %>
                    </div>
                    <div class="detail_content">
                        <span class="product_price">￥<%= info.sku.salesPrice %> </span>
                        <span class="product_amount">x<%= info.quantity %></span>
                    </div>
                </div>
            </li>
            <% }else{ %>
                    <div class="combo_name"><%= info.combo.name %> <span>x<%= info.quantity %> </span></div>
                    <% _.each(info.combo.units,function(combo){ %>
                        <li>
                            <div class="product_img cover" style="background-image: url('/file/public/<%= combo.sku.image.id %>.<%= combo.sku.image.ext %>')"></div>
                            <div class="product_details">
                                <div class="detail_title">
                                    <%= combo.sku.name %>
                                </div>
                                <div class="detail_content">
                                    <span class="product_price"><s>￥<%= combo.sku.salesPrice %></s>&nbsp;&nbsp;￥<%= combo.comboPrice %></span>
                                    <span class="product_amount">x<%= combo.quantity %></span>
                                </div>
                            </div>
                        </li>
                   <% }) %>
            <% } %>
            <% }) %>
        </ul>
        <table class="order_details">
            <tr>
                <td>合计：</td>

                <% var account=0;
                    _.each(order.items,function(info){
                        if(!info.combo){
                            account=account+info.quantity*info.sku.salesPrice;
                        }else{
                            var price=0;
                            _.each(info.combo.units,function(combo){
                                price=price+combo.comboPrice*combo.quantity;
                            });
                            account=account+price*info.quantity;
                        }
                    })
                %>

                <td>￥<%= account %></td>
            </tr>
            <tr>
                <td>运费：</td>
                <td>￥<%= order.deliveryCost %></td>
            </tr>
            <tr>
                <td>优惠券：</td>
                <td>-￥<%= order.couponDiscount %></td>
            </tr>
            <tr>
                <td>积分抵扣：</td>
                <td>-￥<%= order.points*0.01 %></td>
            </tr>
            <tr>
                <td>实际付款：</td>
                <td>￥<%= order.payment %></td>
            </tr>
            <tr>
                <td>订单编号：</td>
                <td><%= order.orderID %></td>
            </tr>
            <tr>
                <td>创建时间：</td>
                <td><%= order.createAt[0] %>-<%= order.createAt[1] %>-<%= order.createAt[2] %> <%= order.createAt[3] %>:<%= order.createAt[4] %>:<%= order.createAt[5] %></td>
            </tr>
        </table>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id=get_query_string("id");
        var template = _.template($("#order_template").html());
        ajax({
            url:"/product/order",
            data:{id:id},
            success:function (json) {
                if(json.error){
                    return;
                }
                console.log(json.success);
                $("#order_body").html(template({"order":json.success}));
            }
        })
    })
</script>
</html>