<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>确认订单</title>
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div id="address_popup"></div>
<div id="root">
    <div class="shopping_header">
        <p class="title">确认订单</p>
    </div>
    <div class="order_body">
        <div class="consignee_info"></div>
        <ul class="order_product"></ul>
        <div class="order_functions">
            <div class="coupon_use">
                <img src="/images/order/shopping_38.png" alt="">
                <p>使用优惠券 </p>
                <span class="to_details">
                    <span class="coupon_able">暂无可用的优惠券</span>
                    <img src="/images/order/index_46.png" alt="">
                </span>
            </div>
            <div class="total_use">
                <div class="detail">
                    <p class="title">使用积分</p>
                    <p class="describe">
                        您总共有<span id="total_points">0</span>积分，可抵￥<span id="total_points_amount">0.00</span>
                    </p>
                </div>
                <div class="btn">
                    <input type="checkbox" id="points_toggle" class="chooseBtn"/>
                    <label for="points_toggle" class="choose-label"></label>
                </div>
                <div class="detail">
                    <p class="describe">
                        本次使用<span id="use_points">0</span>积分，已抵￥<span class="use_points_amount">0.00</span>
                    </p>
                </div>
            </div>
            <!--<div class="invoice_use">-->
                <!--<div class="detail">-->
                    <!--<p class="title">开具发票</p>-->
                <!--</div>-->
                <!--<div class="btn">-->
                    <!--<input type="checkbox" id="invoice_toggle" class="chooseBtn"/>-->
                    <!--<label for="invoice_toggle" class="choose-label"></label>-->
                <!--</div>-->
            <!--</div>-->
            <textarea id="comments" cols="30" rows="5">备注：
        </textarea>
        </div>
        <table class="order_details">
            <tr>
                <td>合计：</td>
                <td>￥<span id="items_amount">0.00</span></td>
            </tr>
            <tr>
                <td>优惠券：</td>
                <td>-￥<span class="coupons_amount">0.00</span></td>
            </tr>
            <tr>
                <td>积分抵扣：</td>
                <td>-￥<span class="use_points_amount">0.00</span></td>
            </tr>
            <tr>
                <td>运费：</td>
                <td>-￥<span id="delivery_amount">0.00</span></td>
            </tr>
        </table>
        <div class="settle_accounts">
        <span class="account_details">
            <p>实际付款</p>
            <span class="price">￥<span id="payment">0.00</span></span>
        </span><span class="account" id="submit">提交订单</span>
        </div>
        </div>
        <div class="footer">
            <ul class="nav">
                <li>
                    <a href="/html/index.html">
                        <img src="/images/tab/tab_32.png" alt="">
                        首页
                    </a>
                </li>
                <li>
                    <a href="/html/store.html">
                        <img src="/images/tab/tab_36.png" alt="">
                        精品商城
                    </a>
                </li>
                <li class="active">
                    <a href="/html/shoppingCar.html">
                        <img src="/images/tab/tab_50.png" alt="">
                        我的药箱
                    </a>
                </li>
                <li>
                    <a href="/html/personal.html">
                        <img src="/images/tab/tab_40.png" alt="">
                        个人中心
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
<script src="../javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script type="text/template" id="consignee_template">
    <div class="consignee_title">
        <img src="/images/order/shopping_02.png" alt="">
        收货人信息
    </div>
    <div class="consignee_content">
            <span class="name">
                <img src="/images/order/shopping_24.png" alt="">
                <%= name %>
            </span>
        <span class="phone">
                <img src="/images/order/shopping_30.png" alt="">
                <%= mobile %>
            </span>
        <div class="address">
            <img src="/images/order/shopping_27.png" alt="">
            <p><%= address %></p>
            <img src="/images/order/index_46.png" alt="" class="float_right">
        </div>
    </div>
</script>
<script type="text/template" id="items_template">
    <% _.each(items, function(item) { %>
        <li>
            <% if(item.sku) { %>
                <div class="product_img"><img src="/file/public/<%= item.sku.image.id %>.<%= item.sku.image.ext %>" alt=""></div>
                <div class="product_details">
                    <div class="detail_title">
                        <%= item.sku.name %>
                    </div>
                    <div class="detail_content">
                        <span class="product_price">￥<%= item.sku.salesPrice %></span>
                        <span class="product_amount">x<%= item.quantity %></span>
                    </div>
                </div>
            <% } %>
        </li>
    <% }) %>
</script>
<script>
    $(document).ready(function () {
        var form_data = {
            payment: 0,
            coupons: [],
            comments: "",
            addressID: undefined,
            invoiceID: undefined,
            invoiceType: undefined,
            points: 0,
            items: []
        };
        var points_exchange_rate = 0;
        var $address_popup = $("#address_popup");
        var $root = $("#root");
        var $consignee = $(".consignee_info");
        var $items = $(".order_product");
        var consignee_template = _.template($("#consignee_template").html());
        var items_template = _.template($("#items_template").html());

        var shopping_cart_ids = get_query_string("scids");
        var item = get_query_string("item");

        $consignee.click(function () {
            $root.css("display", "none");
            $address_popup.load("/html/selectAddress.html", null, function () {
                $("#address").delegate("li", "click", function () {
                    var name = $(this).find(".name").text();
                    var mobile = $(this).find(".phone").text();
                    var address = $(this).find(".address").text();
                    form_data.addressID = $(this).attr("data-id");
                    $consignee.html(consignee_template({
                        name: name,
                        mobile: mobile,
                        address: address
                    }));
                    $address_popup.html("");
                    $root.css("display", "block");
                })
            });
        });

        $("#points_toggle").click(function () {
            if(attr_payment() > 0) {
                var $parent = $(this).parent();
                var points_balance = attr_total_points();
                if(!$parent.hasClass("checked")) {
                    swal({
                        title: "使用积分",
                        text: "您总共有" + points_balance + "积分, 可抵￥" + to_decimal(points_balance * points_exchange_rate),
                        type: "input",
                        showCancelButton: true,
                        cancelButtonText: "取消",
                        confirmButtonText: "确定",
                        closeOnConfirm: false,
                        inputPlaceholder: "请输入要使用的积分数量"
                    }, function(points) {
                        if(points === "") {
                            swal.showInputError("请输入积分数量");
                        }else if(!/^\d+$/.test(points)){
                            swal.showInputError("请输入大于0的整数");
                        }else {
                            points = parseInt(points);
                            if (points <= 0) {
                                swal.showInputError("请输入大于0的整数");
                            }else if(points > points_balance){
                                swal.showInputError("积分不足");
                            }else {
                                $parent.addClass("checked");
                                var max_points = Math.round((attr_items_amount() - attr_coupons_amount()) / points_exchange_rate);
                                points = Math.min(points, max_points);
                                form_data.points = points;
                                update_payment({use_points: points});
                                swal.close();
                            }
                        }
                        return false;
                    });
                }else {
                    $parent.removeClass("checked");
                    form_data.points = 0;
                    update_payment({use_points: 0});
                }
            }
        });

        $("#submit").click(submit);

        get_default_address();

        if(shopping_cart_ids) {
            //购物车结算
            get_shopping_carts();
        }else {
            //立即购买
            get_online_items()
        }

        get_points();

        function get_points() {
            ajax({
                url: "/product/account/points",
                success: function (json) {
                    if(!json.error) {
                        points_exchange_rate = json.success.exchangeRate;
                        attr_total_points(json.success.balance);
                    }
                }
            });
        }

        function get_shopping_carts() {
            var data = {};
            _.each(shopping_cart_ids.split(";"), function (id, index) {
                data["ids[" + index + "]"] = id;
            });
            ajax({
                url: "/items/online/by_shopping_cart_item",
                data: data,
                success: function (json) {
                    if(!json.error) {
                        var items = {};
                        _.each(json.success, function (item, index) {
                            if(item.sku) {
                                items["items[" + index + "].type"] = "sku";
                                items["items[" + index + "].id"] = item.sku.id;
                            }else {
                                items["items[" + index + "].type"] = "combo";
                                items["items[" + index + "].id"] = item.combo.id;
                            }
                            items["items[" + index + "].quantity"] = item.quantity;
                        });
                        if(_.size(items)) {
                            get_available_coupons(items);
                        }
                        form_data.items = json.success;
                        $items.html(items_template({items: json.success}));
                        update_payment({items_amount: calculate_items_amount()});
                    }
                }
            });
        }

        function get_online_items() {
            ajax({
                url: "/items/online",
                data: JSON.parse(item),
                success: function (json) {
                    if(!json.error) {
                        form_data.items = json.success;
                        get_available_coupons();
                        $items.html(items_template({items: json.success}));
                        update_payment({items_amount: calculate_items_amount()});
                    }
                }
            });
        }

        function get_available_coupons() {
            ajax({
                url: "/product/user_coupons/available_with_items",
                data: JSON.parse(item),
                success: function (json) {
                    if(!json.error) {
                        if(json.success.length) {
                            form_data.coupons = json.success;
                            update_use_coupons();
                            update_payment({coupons_amount: calculate_coupons_amount()});
                        }

                    }
                }
            });
        }

        function get_default_address() {
            ajax({
                url: "/user/address/default",
                success: function (json) {
                    if(!json.error) {
                        var success = json.success || {} ;
                        form_data.addressID = success.id;
                        var city_name = success.cityName && success.cityName !== "市辖区" ? success.cityName : "";
                        var data = {
                            name: success.consignee || "",
                            mobile: success.mobile || "",
                            address: (success.provinceName || "") + city_name + (success.unitDetail || "")
                        };
                        $consignee.html(consignee_template(data));
                    }
                }
            });
        }

        function calculate_items_amount() {
            var items_amount = _.reduce(form_data.items, function (memo, item) {
                var sales_price = item.sku ? item.sku.salesPrice : _.reduce(item.combo.units, function (memo, unit) {
                    return memo + unit.comboPrice
                }, 0);
                return memo + sales_price * item.quantity;
            }, 0);
            return Math.round(items_amount * 100) / 100
        }

        function calculate_coupons_amount() {
            var coupons_amount = _.reduce(item.coupons, function (memo, coupon) {
                var quantity = 0;
                _.each(form_data.items, function (item) {
                    if(item.sku && item.sku.productID === coupon.moduleID) {
                        quantity = item.quantity
                    }
                });
                return memo + coupon.value * quantity;
            }, 0);
            return Math.round(coupons_amount) * 100 / 100;
        }

        function update_payment(payment) {
            var items_amount = attr_items_amount(payment.items_amount);
            var coupons_amount = attr_coupons_amount(payment.coupons_amount);
            var points = attr_use_points(payment.use_points);
            payment = items_amount - coupons_amount - points * points_exchange_rate;
            var delivery_amount = payment < 68 ? 10 : 0;
            attr_delivery_amount(delivery_amount);
            payment = Math.round(payment + delivery_amount) * 100 / 100;
            form_data.payment = payment;
            attr_payment(payment);
        }

        function update_use_coupons() {
            $(".coupon_able").html("使用" + form_data.coupons.length + "张优惠券, 已抵￥" + calculate_coupons_amount());
        }

        function attr_items_amount(amount) {
            var $items_amount = $("#items_amount");
            if(_.isUndefined(amount)) {
                return parseFloat($items_amount.text());
            }else {
                $items_amount.html(to_decimal(amount));
                return amount;
            }
        }

        function attr_coupons_amount(amount) {
            var $coupons_amount = $(".coupons_amount");
            if(_.isUndefined(amount)) {
                return parseFloat($coupons_amount.text());
            }else {
                $(".coupon_able").html("-￥" + to_decimal(amount));
                $coupons_amount.html(to_decimal(amount));
                return amount;
            }
        }

        function attr_use_points(points) {
            form_data.points = points;
            var $use_points = $("#use_points");
            var $points_amount = $(".use_points_amount");
            if(_.isUndefined(points)) {
                return parseInt($use_points.text());
            }else {
                $use_points.html(Math.round(points));
                $points_amount.html(to_decimal(points * points_exchange_rate));
                return points;
            }
        }

        function attr_delivery_amount(amount) {
            var $delivery_amount = $("#delivery_amount");
            if(_.isUndefined(amount)) {
                return parseFloat($delivery_amount.text());
            }else {
                $delivery_amount.html(to_decimal(amount));
                return amount;
            }
        }

        function attr_payment(amount) {
            var $payment = $("#payment");
            if(_.isUndefined(amount)) {
                return parseFloat($payment.text());
            }else {
                $payment.html(to_decimal(amount));
                return amount;
            }
        }

        function attr_total_points(points) {
            var $total_points = $("#total_points");
            if(_.isUndefined(points)) {
                return parseInt($total_points.text());
            }else {
                $total_points.html(Math.round(points));
                return points;
            }
        }

        function submit() {
            if(!form_data.addressID) {
                swal("", "请选择收货地址");
            }else if(_.size(form_data.items) === 0) {
                swal("", "没有商品可结算, 快去选购吧。");
            }else {
                form_data.comments = $("#comments").val().replace("备注：", "").trim();
                var data = $.extend({}, form_data);
                delete data.coupons;
                delete data.items;
                _.each(form_data.coupons, function (coupon, index) {
                    data["coupons[" + index + "]"] = coupon.id;
                });
                _.each(form_data.items, function (item, index) {
                    if(item.sku) {
                        data["items[" + index + "].type"] = "sku";
                        data["items[" + index + "].id"] = item.sku.id;
                    }else {
                        data["items[" + index + "].type"] = "combo";
                        data["items[" + index + "].id"] = item.combo.id;
                    }
                    data["items[" + index + "].quantity"] = item.quantity;
                    if(item.shoppingCartID) {
                        data["items[" + index + "].shoppingCartID"] = item.shoppingCartID;
                    }
                });
                ajax({
                    type: "post",
                    url: "/product/order/create",
                    data: data,
                    success: function (json) {
                        if(!json.error) {
                            ajax({
                                type: "post",
                                url: "/product/order/pay",
                                data: {orderID: json.success.id},
                                success: function (json) {
                                    if(!json.error) {
                                       window.location.href = json.success;
                                    }
                                }
                            });
                        }
                    }
                });
            }
        }

    })
</script>
</html>