<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="personal_body"></div>
<div class="bg_color">
    <div class="record">
        <div class="record_coupon" onclick="location='/html/coupons.html'">
            <img src="/images/personal/user_38.png" alt="">
            优惠券
        </div>
        <div class="total" onclick="location='/html/points.html'">
            <img src="/images/personal/user_44.png" alt="">
            我的积分
        </div>
    </div>
    <div class="otherItems">
        <div class="address" onclick="location='/html/address.html'">
            <img src="/images/personal/user_80.png" alt="">
            收货地址
            <span><img src="/images/homePage/home_54@2x.png" alt=""></span>
        </div>
        <div class="setting" onclick="location='/html/setting.html'">
            <img src="/images/personal/user_87.png" alt="">
            设置
            <span><img src="/images/homePage/home_54@2x.png" alt=""></span>
        </div>
    </div>
</div>

<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="shoppingCar.html">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li class="active">
            <a href="#">
                <img src="/images/tab/tab_51.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="personal_template">
    <div class="personal">
        <div class="bg">
            <% if(personal.portraitImage==null) {%>
            <div class="bg_img" style="background-image: url('/images/personal/bg.png')"></div>
            <%} else {%>
            <div class="bg_img" style="background-image: url('/file/public/<%= personal.portraitImage.id %>.<%= personal.portraitImage.ext %>')"></div>
            <% } %>
        </div>
        <div class="mask">
            <span class="edit_btn" onclick="location='personalEdit.html'">编辑信息</span>
            <div class="person_avatar">
                <div class="user_avatar">
                    <input type="file" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp" id="file" class="upAvatar">
                    <% if(personal.portraitImage==null) {%>
                    <div class="avatar_img" style="background-image: url('/images/personal/avatar.png')"></div>
                    <%} else {%>
                    <div class="avatar_img" style="background-image: url('/file/public/<%= personal.portraitImage.id %>.<%= personal.portraitImage.ext %>')"></div>
                    <% } %>
                </div>
                <span class="user_name"><%= personal.name %></span>
                <div class="total" onclick="location='/html/points.html'">积分 <span id="point"></span></div>
            </div>
        </div>
        <div class="user_order">
            <a href="/html/myOrder.html">
                <div class="to_order_title">
                    我的订单
                    <img src="/images/personal/user_07.png" alt="">
                </div>
            </a>
            <ul class="order_tabs">
                <li>
                    <a href="/html/myOrder.html?status=obligation">
                        <img src="/images/personal/user_14.png" alt="">
                        待付款
                    </a>
                    <div class="divide"></div>
                </li>
                <li>
                    <a href="/html/myOrder.html?status=receiving">
                        <img src="/images/personal/user_19.png" alt="">
                        待收货
                    </a>
                    <div class="divide"></div>
                </li>
                <li>
                    <a href="/html/comment_order.html">
                        <img src="/images/personal/user_25.png" alt="">
                        待评价
                    </a>
                    <div class="divide"></div>
                </li>
                <li>
                    <a onclick='swal("","功能开发建设中")'>
                        <img src="/images/personal/user_32.png" alt="">
                        售后/退货
                    </a>
                </li>
            </ul>
        </div>
        <h2>我的记录</h2>
    </div>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
$(document).ready(function(){
    var personal_template = _.template($("#personal_template").html());

    ajax({
        url:"/user/session",
        success:function (json) {
            var id = json.success.user.id;
            if(json.error){
                return;
            }
            $("#personal_body").html(personal_template({"personal": json.success.user}));
            ajax({
                url:"/product/account/points",
                success:function(point_json){
                    if(point_json.error){
                        return;
                    }
                    $("#point").html(Math.floor(point_json.success.balance));
                }
            });
            $("#file").change(function () {
                upload(function (json) {
                    ajax({
                        url:"/user/portrait_image/update",
                        type:"post",
                        data:{portraitImageID: json.success.id, portraitImageEXT: json.success.ext},
                        success:function(json){
                            window.location.href="/html/personal.html";
                        }
                    })
                });
            });
        }
    });
});
</script>
</html>