<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的积分</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">我的积分</p>
</div>
<div class="total_body">
    <div class="usable_total">
        <p id="present_point">100</p>
        <span>当前可用积分</span>
    </div>
    <div id="point_detail"></div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li>
            <a href="">
                <img src="/images/tab/tab_38.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                 个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/template" id="point_detail_template">
    <ul class="total_use_record">
        <% _.each(points,function(point){ %>
        <li>
            <h2>
                <%= point.triggerBy %>
            </h2>
            <span class="op_date"><%= point.createAt[0]%>/<%=point.createAt[1]%>/<%=point.createAt[2]%> <%=point.createAt[3]%>:<%=point.createAt[4]%>:<%=point.createAt[5] %></span>
            <% if(point.operation==="freeze"||point.operation==="deduct"){ %>
            <span class="total_value sub">
                <img src="/images/personal/personal_75.png" alt="">
                -<%= point.amount %>
            </span>
            <% }else{ %>
            <span class="total_value add">
                <img src="/images/personal/personal_76.png" alt="">
                +<%= point.amount %>
            </span>
            <% } %>
        </li>
        <% }) %>
    </ul>
</script>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script>
    $(document).ready(function(){
        var point_detail_template=_.template($("#point_detail_template").html());
        ajax({
            url:"/product/account/points/logs",
            success:function (json) {
                if(json.error){
                    return;
                }
                console.log(json.success);
                $("#point_detail").html(point_detail_template({"points": json.success}));
            }
        })
        ajax({
            url:"/product/account/points",
            success:function(point_json){
                if(point_json.error){
                    return;
                }
                $("#present_point").html(point_json.success.balance);
            }
        })
    })
</script>
</html>