<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>商品详情</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/swiper.css"/>
    <link type="text/css" rel="stylesheet" href="../css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="../css/index.css"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
</head>
<body>
<div class="detail_header">
    <div class="items">
        <span class="active"><a href="#" id="product_menu">商品</a></span>
        <span><a href="#" id="instruction_menu">说明书</a></span>
        <span><a href="#" id="post_menu">评论</a></span>
    </div>
</div>
<div id="product_body"></div>
<div class="detail_footer">
    <div class="consult">
        <img src="../images/details/shoppingcar_21.png" alt="">
        咨询
    </div>
    <div class="shoppingCar">
        <img src="../images/details/shoppingcar_25.png" alt="">
        购物车
    </div>
    <div class="addToCar">
        <img src="../images/details/shoppingcar_29.png" alt="">
        加入我的药箱
    </div>
    <div class="nextStep">
        下一步
    </div>
</div>
<div class="SKU_select">
    <div class="SKU_select_content">
        <div class="SKU_detail">
            <img id="sku_image" alt="" src="">
            <span class="SKU_price">￥198</span>
        </div>
        <div class="SKU_category">
        </div>
        <div class="SKU_quantity">
            数量
            <div class="product_amount">
                <span id="minus_sku_quantity" class="sub"><img src="../images/shoppingcar/shopping_11.png"
                                                               alt=""></span>
                <span id="sku_quantity" class="amount">1</span>
                <span id="add_sku_quantity" class="add"><img src="../images/shoppingcar/shopping_16.png" alt=""></span>
            </div>
        </div>
        <div class="SKU_select_footer">
            <span id="add_to_shopping_cart_inner_button" class="add_to_shoppingCar">加入购物车</span>
            <span class="buy_now">立即购买</span>
        </div>
    </div>
</div>
</body>
<script type="text/template" id="specs">
    <% _.each(_.keys(data.key_names), function (keyID) { %>
    <h3><%=data.key_names[keyID]%></h3>
    <div>
        <% _.each(data.keys[keyID], function (value) { %>
        <span data-key-id="<%=keyID%>" data-value-id="<%=value[0]%>"><%=value[1]%></span>
        <% }); %>
    </div>
    <% }); %>
</script>
<script type="text/template" id="banner_template">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% _.each(images, function (image) { %>
            <div class="swiper-slide">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="/file/public/<%= image.id %>.<%= image.ext %>" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <% }); %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
    </div>
</script>
<script type="text/template" id="product_template">
    <div class="detail_body">
        <div class="banner">
            <div id="banner"></div>
        </div>
        <div class="intro">
            <div class="intro_title">
                <%= product.name %>
            </div>
            <div class="intro_content">
                <%= product.description %>
            </div>
            <div class="intro_price">
                现价
                <span class="present_price"><%= product.minSalesPrice %></span>
            </div>
        </div>
        <ul class="detail_function">
            <!--<li>-->
            <!--<img src="../images/details/shoppingcar_17.png" alt="">-->
            <!--<div>附近药店</div>-->
            <!--<div class="toDetail">-->
            <!--<img src="../images/details/home_57@2x.png" alt="">-->
            <!--</div>-->
            <!--</li>-->
            <li id="select_specs_option">
                <div>选择（可选择规格 组合）</div>
                <div class="toDetail">
                    <img src="../images/details/home_57@2x.png" alt="">
                </div>
            </li>
            <!--<li>-->
            <!--<div>配送地</div>-->
            <!--<div class="toDetail">-->
            <!--<img src="../images/details/home_57@2x.png" alt="">-->
            <!--</div>-->
            <!--</li>-->
        </ul>
        <div class="warning">
            温馨提醒：请按药品说明书或在药师指导下购买和使用。
        </div>
        <div id="product_detail" class="particulars"></div>
    </div>
</script>
<script src="../javascript/jquery-3.2.1.min.js"></script>
<script src="../javascript/sweetalert.min.js"></script>
<script src="../javascript/swiper.min.js"></script>
<script src="../javascript/underscore-1.8.3.min.js"></script>
<script src="../javascript/util.js"></script>
<script>
    $(document).ready(function () {
        var id = get_query_string("id");
        var product_template = _.template($("#product_template").html());
        var $specs_selector_layer = $(".SKU_select");
        var $specs_selector = $(".SKU_select_content");
        var $add_shopping_cart_button = $(".addToCar");
        var $specs = $(".SKU_category");
        var $keys;
        var keys = {};
        var key_names = {};
        var skus = {};
        var sku_images = {};

        get_product(id);
        render_banner(id);

        function get_selected() {
            var selected = [];
            _.each($keys.find("span.selected"), function (_value) {
                var $value = $(_value);
                var valueID = parseInt($value.attr("data-value-id"));
                var value = $value.html();
                var keyID = parseInt($value.attr("data-key-id"));
                selected.push([keyID, [valueID, value]]);
            });
            return selected;
        }

        function get_sku() {
            var maybe_selected_all = get_selected();
            if (maybe_selected_all.length === _.keys(keys).length) {
                return _.filter(_.keys(skus), function (sku_id) {
                    return _.every(maybe_selected_all, function (spec) {
                        var sku_spec = skus[sku_id][spec[0]];
                        return sku_spec[0] === spec[1][0] && sku_spec[1] === spec[1][1];
                    });
                })[0];
            }
            return 0;
        }

        var $sku_quantity = $("#sku_quantity");
        $("#minus_sku_quantity").click(function () {
            var quantity = parseInt($sku_quantity.html());
            if (quantity > 0) {
                $sku_quantity.html(quantity - 1);
            }
        });
        $("#add_sku_quantity").click(function () {
            var quantity = parseInt($sku_quantity.html());
            $sku_quantity.html(quantity + 1);
        });

        function load_skus() {
            ajax({
                url: "/product/skus/by_product",
                data: {"productID": id},
                success: function (json) {
                    if(json.error){
                        return;
                    }
                    _.each(json.success, function (data) {
                        var sku_keys = {};
                        sku_images[data.sku.id] = data.sku.image;
                        _.each(data.spec, function (spec) {
                            var value = [spec.valueID ? spec.valueID : 0, spec.value];
                            var values = keys[spec.keyID];
                            if (values) {
                                if (_.every(values, function (_value) {
                                        return !((_value[0] === value[0]) && (_value[1] === value[1]));
                                    })) {
                                    values.push(value);
                                }
                            } else {
                                key_names[spec.keyID] = spec.keyName;
                                keys[spec.keyID] = [value];
                            }
                            sku_keys[spec.keyID] = value;
                        });
                        skus[data.sku.id] = sku_keys;
                    });
                    var _template = _.template($("#specs").html());
                    $specs.html(_template({
                        data: {
                            keys: keys,
                            key_names: key_names
                        }
                    }));

                    $keys = $specs.find("div");

                    function get_available_skus_by_spec(sku_keys, keyID, valueID, value) {
                        return _.filter(sku_keys, function (sku_id) {
                            return skus[sku_id][keyID][0] === valueID && skus[sku_id][keyID][1] === value;
                        });
                    }

                    $keys.delegate("span", "click", function () {
                        var $this = $(this);
                        var this_key_id = parseInt($this.attr("data-key-id"));
                        var this_value_id = parseInt($this.attr("data-value-id"));
                        var this_value = $this.html();
                        var $key = $this.parent();
                        var available_sku_ids;
                        var selected_specs;
                        if ($this.hasClass("selected")) {
                            $this.removeClass("selected");
                            available_sku_ids = _.keys(skus);
                            selected_specs = get_selected();
                        } else {
                            $key.find(".selected").removeClass("selected");
                            $this.addClass("selected");
                            available_sku_ids = get_available_skus_by_spec(_.keys(skus), this_key_id, this_value_id, this_value);
                            selected_specs = [[this_key_id, [this_value_id, this_value]]];
                        }
                        _.each(selected_specs, function (selected_spec) {
                            available_sku_ids = get_available_skus_by_spec(available_sku_ids, selected_spec[0], selected_spec[1][0], selected_spec[1][1]);
                        });
                        var available_specs = {};
                        _.each(available_sku_ids, function (available_sku_id) {
                            _.each(_.pairs(skus[available_sku_id]), function (spec) {
                                var values = available_specs[spec[0]];
                                if (values) {
                                    if (!_.some(values, function (value) {
                                            return value[0] === spec[1][0] && value[1] === spec[1][1];
                                        })) {
                                        values.push([spec[1][0], spec[1][1]]);
                                    }
                                } else {
                                    available_specs[spec[0]] = [[spec[1][0], spec[1][1]]];
                                }
                            });
                        });
                        $keys.each(function () {
                            $(this).children().each(function () {
                                var $spec = $(this);
                                var spec_key_id = $spec.attr("data-key-id");
                                var spec_value_id = parseInt($spec.attr("data-value-id"));
                                var spec_value = $spec.html();
                                var values = available_specs[spec_key_id];
                                if (values) {
                                    if (_.some(values, function (value) {
                                            return value[0] === spec_value_id && value[1] === spec_value;
                                        })) {
                                        $spec.removeClass("disabled");
                                    } else {
                                        $spec.removeClass("selected");
                                        $spec.addClass("disabled");
                                    }
                                } else {
                                    $spec.removeClass("selected");
                                    $spec.addClass("disabled");
                                }
                            });
                        });
                        var maybe_sku = get_sku();
                        if (maybe_sku) {
                            $("#sku_image").attr("src", "/file/public/" + sku_images[maybe_sku].id + "." + sku_images[maybe_sku].ext);
                        }
                    });
                }
            });
        }

        load_skus();

        function show_specs_selector() {
            $specs_selector_layer.addClass("show");
        }

        function hide_specs_selector() {
            $specs_selector_layer.removeClass("show");
        }

        $specs_selector.click(function (e) {
            e.stopPropagation();
        });

        $specs_selector_layer.click(hide_specs_selector);

        function add_sku_to_shopping_cart(sku_id) {
            ajax({
                url: "/shopping_cart/sku_item/add",
                method: "post",
                data: {productSKUID: sku_id, quantity: $sku_quantity.html()},
                success: function (json) {
                    if(json.error){
                        return;
                    }
                    $keys.find("span").removeClass("selected").removeClass("disabled");
                    hide_specs_selector();
                }
            });
        }

        var $instruction_menu = $("#instruction_menu");
        $instruction_menu.click(function(){
            if(!$instruction_menu.hasClass("active")){
                window.location.href = "/html/specification.html?id="+id;
            }
        });
        var $product_menu = $("#product_menu");
        $product_menu.click(function(){
            if(!$product_menu.hasClass("active")){
                window.location.href = "/html/productDetails.html?id="+id;
            }
        });
        var $post_menu = $("#post_menu");
        $post_menu.click(function(){
            if(!$post_menu.hasClass("active")){
                window.location.href = "/html/comment.html?id="+id;
            }
        });

        $("#add_to_shopping_cart_inner_button").click(function () {
            var maybe_sku = get_sku();
            if (maybe_sku) {
                add_sku_to_shopping_cart(maybe_sku);
            }
        });

        $add_shopping_cart_button.click(function () {
            var maybe_sku = get_sku();
            if (maybe_sku) {
                add_sku_to_shopping_cart(maybe_sku);
            } else {
                show_specs_selector();
            }
        });

        function get_product(id) {
            ajax({
                url: "/product",
                data: {"id": id},
                success: function (json) {
                    if(json.error){
                        return;
                    }
                    $("#product_body").html(product_template({"product": json.success}));
                    ajax({
                        url: "/product/detail",
                        data: {"id": id},
                        success: function (json) {
                            if(json.error){
                                return;
                            }
                            $("#product_detail").html(json.success);
                        }
                    });
                    $("#select_specs_option").click(function () {
                        show_specs_selector();
                    });
                }
            });
        }

        function render_banner() {
            ajax({
                url: "/product/images",
                data: {"id": id},
                success: function (json) {
                    if(json.error){
                        return;
                    }
                    $("#sku_image").attr("src", "/file/public/" + json.success[0].id + "." + json.success[0].ext);
                    var banner_template = _.template($("#banner_template").html());
                    $("#banner").html(banner_template({"images": json.success}));
                    new Swiper('.swiper-container', {
                        slidesPerView: 'auto',
                        centeredSlides: true,
                        autoplay: {
                            delay: 2500
                        },
                        lazy: true,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true
                        }
                    });
                }
            });
        }
    });
</script>
</html>