<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的药箱</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="../css/index.css"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
</head>
<body>
<div class="shopping_header">
    <img src="../images/tab/tab_03.png" alt="">
    <p class="title">我的药箱</p>
    <span class="edit_btn">编辑</span>
</div>
<div class="shoppingCar_body">
    <div class="carOne">
        <div class="shoppingCar_title">
            <div class="checkbox-all cover"></div>
            全选 <span>1号购物车（药店取货）</span>
        </div>
        <div id="offline_shopping_cart"></div>
    </div>
    <div class="carTwo">
        <div class="shoppingCar_title">
            <div class="checkbox-all cover"></div>
            全选 <span>2号购物车（邮购）</span>
        </div>
        <div id="online_shopping_car"></div>
    </div>
    <div class="settle_accounts">
        <span class="account_details">
            <span class="count">共0件商品</span>
            总价<span class="price">￥0.00</span>
        </span>
        <span class="account" onclick="location='orderConfirm.html'">
            去结算
        </span>
    </div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="../images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="../images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li class="active">
            <a href="">
                <img src="../images/tab/tab_50.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="../images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script src="../javascript/jquery-3.2.1.min.js"></script>
<script src="../javascript/sweetalert.min.js"></script>
<script src="../javascript/underscore-1.8.3.min.js"></script>
<script src="../javascript/util.js"></script>
<script type="text/template" id="shopping_cart_template">
    <% if(items.length) { %>
    <ul class="shopping-cart-content" data-type="<%= items[0].type %>">
        <% _.each(items, function (item) { %>
        <li class="item" data-id="<%= item.id %>">
            <% if(item.sku) { %>
            <div class="checkbox cover <%=item.selected ? 'selected' : ''%>"></div>
            <div class="product_img cover"
                 style="background-image: url(/file/public/<%=item.sku.image.id%>.<%=item.sku.image.ext%>)"></div>
            <div class="product_details">
                <span class="pharmacy">药店</span>
                <% if(!item.sku.prescription) { %>
                <span class="mail_order">邮购</span>
                <% } %>
                <div class="detail_title">
                    <span class="product_name"><%= item.sku.name %></span>
                </div>
                <div class="product_price"><%= item.sku.salesPrice %></div>
                <div class="product_amount" data-inventory="<%= item.sku.inventory %>">
                    <span class="sub"><img class="sub-quantity" src="../images/shoppingcar/shopping_11.png"></span>
                    <span class="quantity"><%= item.quantity %></span>
                    <span class="add"><img class="add-quantity" src="../images/shoppingcar/shopping_16.png"></span>
                </div>
                <% if(!item.sku.prescription) { %>
                <button class="toggle-carts">
                    <%=item.type === "offline"?'去邮购':'去药店'%>
                </button>
                <% } %>
            </div>
            <% } else { %>
            <div class="order_combine_product">
                <div class="combine_name">
                    <img class="toggle-item <%=item.selected ? 'selected' : ''%>">
                </div>
                <ul class="combine_lists">
                    <% var combo_inventory = 0; %>
                    <% var combo_price = 0; %>
                    <% var combo_original_price = 0; %>
                    <% _.each(item.combo.units, function(unit) { %>
                    <% combo_inventory = combo_inventory ? Math.min(combo_inventory, unit.sku.inventory) :
                    unit.sku.inventory; %>
                    <% combo_price = combo_price + unit.comboPrice; %>
                    <% combo_original_price = combo_original_price + ( unit.sku.salesPrice * unit.quantity ); %>
                    <li>
                        <div class="product_img">
                            <img src="/file/public/<%= unit.sku.image.id %>.<%= unit.sku.image.ext %>" alt="">
                        </div>
                        <div class="product_details">
                            <div class="combine_product_name">
                                <%= unit.sku.name %>
                            </div>
                            <div class="detail_content">
                                <span class="product_price">￥<%= Math.round(unit.comboPrice / unit.quantity * 100) / 100 %></span>
                                <span class="original_price">￥<%= unit.sku.salesPrice %></span>
                                <span class="product_amount">x<%= unit.quantity %></span>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <div class="combine_amount">
                    <span class="price">￥<%= Math.round(combo_price * 100) / 100 %></span>
                    <span class="original_price">￥<%= Math.round(combo_original_price * 100) / 100 %></span>
                    <div class="product_amount" data-inventory="<%= combo_inventory %>">
                        <span class="sub"><img class="sub-quantity" src="../images/shoppingcar/shopping_11.png"></span>
                        <span class="quantity"><%= item.quantity %></span>
                        <span class="add"><img class="add-quantity" src="../images/shoppingcar/shopping_16.png"></span>
                    </div>
                    <% if(!item.combo.hasPrescription) { %>
                    <button class="toggle-carts">
                        <%=item.type === "offline"?'去邮购':'去药店'%>
                    </button>
                    <% } %>
                </div>
            </div>
            <% } %>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <div class="offline empty_shoppingCar hidden">
        <img src="../images/shoppingcar/shopping_44.png" alt="">
        <p>购物车空空如也 <br>去抢购吧…</p>
        <a href="store.html">
            <button>去逛逛</button>
        </a>
    </div>
    <% } %>
</script>
<script>

    $(document).ready(function () {
        var shopping_car_items = [];
        var selected_items = [];
        var shopping_cart_template = _.template($("#shopping_cart_template").html());
        var $offline_shopping_cart = $("#offline_shopping_cart");
        var $online_shopping_cart = $("#online_shopping_car");

        var $carts = $(".shoppingCar_body");

        function update() {

        }

        function add_quantity() {
            var $parent = $(this).parent();
            var $quantity = $parent.find(".quantity");
            var quantity = parseInt($quantity.text());
            var inventory = parseInt($parent.attr("data-inventory"));
            var id = $parent.attr("data-id");
            if (quantity < inventory) {
                ajax({
                    url: "/shopping_cart/update",
                    data: {"id": id, "quantity": quantity + 1},
                    type: "post",
                    success: function () {
                        $quantity.html(quantity + 1);
                        update();
                    }
                });
            }
        }

        function sub_quantity() {
            var $parent = $(this).parent();
            var $quantity = $parent.find(".quantity");
            var quantity = parseInt($quantity.text());
            var id = $parent.attr("data-id");
            if (quantity > 1) {
                ajax({
                    url: "/shopping_cart/update",
                    data: {"id": id, "quantity": quantity - 1},
                    type: "post",
                    success: function () {
                        $quantity.html(quantity - 1);
                        update();
                    }
                });
            }
        }

        function get_shopping_carts() {
            shopping_car_items = [];
            get_offline_shopping_cart();
            get_online_shopping_cart();
        }

        function get_offline_shopping_cart() {
            ajax({
                url: "/shopping_cart",
                data: {"type": "offline"},
                success: function (json) {
                    if (json.success) {
                        shopping_car_items = shopping_car_items.concat(json.success);
                        _.each(json.success, function (item) {
                            item.selected = selected_items.indexOf(item.id) > -1;
                        });
                        $offline_shopping_cart.html(shopping_cart_template({items: json.success}));
                    }
                    update();
                }
            });
        }

        function get_online_shopping_cart() {
            ajax({
                url: "/shopping_cart",
                data: {"type": "online"},
                success: function (json) {
                    if (json.success) {
                        shopping_car_items = shopping_car_items.concat(json.success);
                        _.each(json.success, function (item) {
                            item.selected = selected_items.indexOf(item.id) > -1;
                        });
                        $online_shopping_cart.html(shopping_cart_template({
                            items: json.success
                        }));
                    }
                    update();
                }
            });
        }

        function toggle_carts() {
            var $this = $(this);
            var id = $this.attr("data-id");
            var type = $this.parents(".shopping-cart-content").attr("data-type");
            ajax({
                url: "/shopping_cart/move_to",
                data: {"ids[0]": id, "type": type === "online" ? "offline" : "online"},
                type: "post",
                success: function (json) {
                    if(json.error) {
                        return;
                    }
                    get_shopping_carts();
                }
            });
        }

        function toggle_checkbox() {
            var $this = $(this);
            var id = $(this).parents("li.item").attr("data-id");
            if($this.hasClass("selected")){
                selected_items = _.without(selected_items,id);
            } else {
                selected_items.push(id);
            }
            $this.toggleClass("selected");
            var $online_select_all = $(".carOne .checkbox-all");
            var $offline_select_all = $(".carTwo .checkbox-all");
            var type = $this.parents(".shopping-cart-content").attr("data-type");
            var $selected;
            if(type === "online"){
                $selected = $offline_shopping_cart.find(".checkbox.selected");
                $offline_select_all.removeClass("selected");
            } else {
                $selected = $online_shopping_cart.find(".checkbox").removeClass("selected");
                $online_select_all.removeClass("selected");
            }
            $selected.removeClass("selected");
            $selected.parents("li").each(function(){
                selected_items = _.without(selected_items,$(this).attr("data-id"));
            });
            update();
        }

        $offline_shopping_cart.delegate(".add", "click", add_quantity);
        $online_shopping_cart.delegate(".add", "click", add_quantity);
        $offline_shopping_cart.delegate(".sub", "click", sub_quantity);
        $online_shopping_cart.delegate(".sub", "click", sub_quantity);
        $carts.delegate(".toggle-carts", "click", toggle_carts);
        $carts.delegate(".checkbox", "click", toggle_checkbox);

        get_shopping_carts();



//
//        var $online_select_all = $(".online-select-all");
//

//        function find_selected_item_index(id) {
//            return _.indexOf(selected_items, id);
//        }
//
//        function refresh_select_all(type) {
//            if ($("img[src='../images/shoppingcar/shopping_60.png'][data-type='" + type + "']").length === 0) {
//                $("." + type + "-select-all").attr("src", "../images/shoppingcar/shopping_57.png");
//            } else {
//                $("." + type + "-select-all").attr("src", "../images/shoppingcar/shopping_60.png");
//            }
//        }
//
//        function refresh_total() {
//            var total = get_selected_total();
//            var $count = $(".settle_accounts .count");
//            var $price = $(".settle_accounts .price");
//            $count.html("共" + total.count + "件商品");
//            $price.html("￥" + Math.round(total.price * 100) / 100);
//        }
//
//        function get_selected_total() {
//            var count = 0;
//            var price = 0;
//            _.map(selected_items, function (id) {
//                var item = _.find(shopping_car_items, {id: id});
//                if (item) {
//                    count = count + 1;
//                    if (item.sku) {
//                        price = price + item.sku.salesPrice * item.quantity;
//                    } else {
//                        var comboPrice = 0;
//                        _.map(item.combo.units, function (unit) {
//                            comboPrice = comboPrice + unit.comboPrice;
//                        });
//                        price = price + comboPrice * item.quantity;
//                    }
//                }
//            });
//            return {count: count, price: price};
//        }

    });

</script>
</html>