<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的药箱</title>
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div class="shopping_header">
    <p class="title">我的药箱</p>
</div>
<div class="shoppingCar_body">
    <div class="carOne">
        <div class="shoppingCar_title">
            <div id="select_all_offline_items" class="checkbox-all cover"></div>
            <div><b>全选&nbsp;&nbsp;&nbsp;&nbsp;1号购物车（药店取货）</b></div>
        </div>
        <div id="offline_shopping_cart"></div>
    </div>
    <div class="carTwo">
        <div class="shoppingCar_title">
            <div id="select_all_online_items" class="checkbox-all cover"></div>
            <div><b>全选&nbsp;&nbsp;&nbsp;&nbsp;2号购物车（邮购）</b></div>
        </div>
        <div id="online_shopping_car"></div>
    </div>
    <div class="settle_accounts">
        <span class="account_details">
            <span class="count">共0件商品</span>
            总价<span class="total">￥0.00</span>
        </span>
        <span class="account">
            去结算
        </span>
    </div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="/images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="/images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li class="active">
            <a href="">
                <img src="/images/tab/tab_50.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="/images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/sweetalert.min.js"></script>
<script src="/javascript/underscore-1.8.3.min.js"></script>
<script src="/javascript/util.js"></script>
<script type="text/template" id="shopping_cart_template">
    <% if(items.length) { %>
    <ul class="shopping-cart-content" data-type="<%= items[0].type %>">
        <% _.each(items, function (item) { %>
        <li class="item" data-id="<%= item.id %>">
            <% if(item.sku) { %>
            <div class="sku">
                <div class="checkbox-wrap">
                    <div class="checkbox cover <%=item.selected ? 'selected' : ''%>"></div>
                </div>
                <div class="image-wrap">
                    <div class="product_img cover"
                         style="background-image: url(/file/public/<%=item.sku.image.id%>.<%=item.sku.image.ext%>)"></div>
                </div>
                <div class="info">
                    <div class="row-1">
                        <div class="name"><%= item.sku.name %></div>
                        <div class="row-1-1">
                            <div class="tags">
                                <div class="tag tag-1">药店</div>
                                <% if(!item.sku.prescription) { %>
                                <div class="tag tag-2">邮购</div>
                                <% } %>
                            </div>
                            <% if(!item.sku.prescription) { %>
                            <button class="switch-cart">
                                <%=item.type === "offline"?'去邮购':'去药店'%>
                            </button>
                            <% } %>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="price">￥<%= item.sku.salesPrice * item.quantity %></div>
                        <div class="quantity-wrap" data-inventory="<%= item.sku.inventory %>">
                            <div class="add"></div>
                            <div class="quantity"><%= item.quantity %></div>
                            <div class="sub"></div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="combo">
                <div class="row-1">
                    <div class="checkbox-wrap">
                        <div class="checkbox cover <%=item.selected ? 'selected' : ''%>"></div>
                    </div>
                    <div class="combo-name"><%= item.combo.name %></div>
                </div>
                <div class="detail">
                    <div class="units">
                        <% var combo_inventory = 0; %>
                        <% var combo_price = 0; %>
                        <% var combo_original_price = 0; %>

                        <% _.each(item.combo.units, function(unit) { %>
                        <% combo_inventory = combo_inventory ? Math.min(combo_inventory, unit.sku.inventory) :
                        unit.sku.inventory; %>
                        <% combo_price = combo_price + unit.comboPrice; %>
                        <% combo_original_price = combo_original_price + ( unit.sku.salesPrice * unit.quantity ); %>

                        <div class="sku">
                            <div class="image-wrap">
                                <div class="product_img cover" style="background-image: url(/file/public/<%=unit.sku.image.id%>.<%=unit.sku.image.ext%>)"></div>
                            </div>
                            <div class="info">
                                <div><%= unit.sku.name %>&nbsp;&nbsp;￥<%= unit.sku.salesPrice %>&nbsp;&nbsp;x&nbsp;&nbsp;<%= unit.quantity %></div>
                                <div><i style="text-decoration: line-through">￥<%= unit.sku.salesPrice * unit.quantity %></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>￥<%= unit.comboPrice %></b></div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <div class="combo-info">
                        <div class="combo-price"><i style="text-decoration: line-through">￥<%= Math.round(combo_original_price * 100) / 100 %></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="price">￥<%= Math.round(combo_price * 100) / 100 %></i></div>
                        <div class="quantity-wrap" data-inventory="<%= item.inventory %>">
                            <div class="add"></div>
                            <div class="quantity"><%= item.quantity %></div>
                            <div class="sub"></div>
                        </div>
                        <% if(!item.combo.hasPrescription) { %>
                        <button class="toggle-carts">
                            <%=item.type === "offline"?'去邮购':'去药店'%>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <div class="offline empty_shoppingCar hidden">
        <img src="/images/shoppingcar/shopping_44.png" alt="">
        <p>购物车空空如也 <br>去抢购吧…</p>
        <a href="store.html">
            <button>去逛逛</button>
        </a>
    </div>
    <% } %>
</script>
<script>

    $(document).ready(function () {
        var shopping_car_items = {};
        var selected_items = [];
        var shopping_cart_template = _.template($("#shopping_cart_template").html());
        var $offline_shopping_cart = $("#offline_shopping_cart");
        var $online_shopping_cart = $("#online_shopping_car");
        var $select_all_offline_items = $("#select_all_offline_items");
        var $select_all_online_items = $("#select_all_online_items");

        var $carts = $(".shoppingCar_body");

        $(".account").click(function () {
            if (selected_items.length > 0) {
                window.location.href = "/html/orderConfirm.html?scids=" + selected_items.join(";")
            } else {
                swal("", "请选择要结算的产品")
            }
        });

        function update() {
            update_select_all();
            selected_items = _.reduce($carts.find("li.item .checkbox.selected"), function (memo, ele) {
                memo.push(parseInt($(ele).parents("li.item").attr("data-id")));
                return memo;
            }, []);
            var info = _.reduce(selected_items, function (memo, _item) {
                var item = shopping_car_items[_item];
                var sales_price = item.sku ? item.sku.salesPrice : _.reduce(item.combo.units, function (memo, unit) {
                    return memo + unit.comboPrice
                }, 0);
                return [memo[0] + item.quantity, memo[1] + item.quantity * sales_price];
            }, [0, 0]);
            $(".total").html("￥" + info[1]);
            $(".count").html("共" + info[0] + "件商品");
        }

        function add_quantity() {
            var $parent = $(this).parent();
            var $quantity = $parent.find(".quantity");
            var inventory = parseInt($parent.attr("data-inventory"));
            var id = $parent.parents("li.item").attr("data-id");
            if (shopping_car_items[id].quantity < inventory) {
                shopping_car_items[id].quantity += 1;
                ajax({
                    url: "/shopping_cart/update",
                    data: {"id": id, "quantity": shopping_car_items[id].quantity},
                    type: "post",
                    success: function (json) {
                        if (json.success) {
                            $quantity.html(shopping_car_items[id].quantity);
                            update();
                        }
                    }
                });
            } else {
                swal("", "库存不足");
            }
        }

        function sub_quantity() {
            var $parent = $(this).parent();
            var $quantity = $parent.find(".quantity");
            var id = $parent.parents("li.item").attr("data-id");
            if (shopping_car_items[id].quantity > 1) {
                shopping_car_items[id].quantity -= 1;
                ajax({
                    url: "/shopping_cart/update",
                    data: {"id": id, "quantity": shopping_car_items[id].quantity},
                    type: "post",
                    success: function (json) {
                        if (json.success) {
                            $quantity.html(shopping_car_items[id].quantity);
                            update();
                        }
                    }
                });
            }
        }

        function get_shopping_carts() {
            shopping_car_items = {};
            ajax({
                url: "/shopping_cart",
                data: {"type": "offline"},
                success: function (json) {
                    if (json.success) {
                        _.each(json.success, function (item) {
                            item.selected = selected_items.indexOf(item.id) > -1;
                            shopping_car_items[item.id] = item;
                        });
                        $offline_shopping_cart.html(shopping_cart_template({items: json.success}));
                        ajax({
                            url: "/shopping_cart",
                            data: {"type": "online"},
                            success: function (json) {
                                if (json.success) {
                                    _.each(json.success, function (item) {
                                        item.selected = selected_items.indexOf(item.id) > -1;
                                        shopping_car_items[item.id] = item;
                                        console.log(item);
                                    });
                                    $online_shopping_cart.html(shopping_cart_template({
                                        items: json.success
                                    }));
                                }
                                update();
                            }
                        });
                    }
                }
            });
        }

        function toggle_carts() {
            var $this = $(this);
            var id = $(this).parents("li.item").attr("data-id");
            var type = $this.parents(".shopping-cart-content").attr("data-type");
            ajax({
                url: "/shopping_cart/move_to",
                data: {"ids[0]": id, "type": type === "online" ? "offline" : "online"},
                type: "post",
                success: function (json) {
                    if (json.error) {
                        return;
                    }
                    get_shopping_carts();
                }
            });
        }

        function update_select_all() {
            var online_checkbox_numbers = $online_shopping_cart.find(".checkbox").length;
            if (online_checkbox_numbers > $online_shopping_cart.find(".checkbox.selected").length) {
                $select_all_online_items.removeClass("selected");
            } else if (online_checkbox_numbers !== 0) {
                $select_all_online_items.addClass("selected");
            }
            var offline_checkbox_numbers = $offline_shopping_cart.find(".checkbox").length;
            if (offline_checkbox_numbers > $offline_shopping_cart.find(".checkbox.selected").length) {
                $select_all_offline_items.removeClass("selected");
            } else if (offline_checkbox_numbers !== 0) {
                $select_all_offline_items.addClass("selected");
            }
        }

        function toggle_checkbox() {
            var $this = $(this);
            $this.toggleClass("selected");
            var type = $this.parents(".shopping-cart-content").attr("data-type");
            if (type === "online") {
                $offline_shopping_cart.find(".checkbox.selected").removeClass("selected");
                $select_all_offline_items.removeClass("selected");
            } else {
                $online_shopping_cart.find(".checkbox").removeClass("selected").removeClass("selected");
                $select_all_online_items.removeClass("selected");
            }
            update();
        }

        $offline_shopping_cart.delegate(".add", "click", add_quantity);
        $online_shopping_cart.delegate(".add", "click", add_quantity);
        $offline_shopping_cart.delegate(".sub", "click", sub_quantity);
        $online_shopping_cart.delegate(".sub", "click", sub_quantity);
        $carts.delegate(".switch-cart", "click", toggle_carts);
        $carts.delegate(".checkbox", "click", toggle_checkbox);

        $select_all_online_items.click(function () {
            if ($select_all_online_items.hasClass("selected")) {
                $(".shopping-cart-content[data-type='online'] .checkbox").removeClass("selected");
            } else {
                $select_all_offline_items.removeClass("selected");
                $(".shopping-cart-content[data-type='online'] .checkbox").addClass("selected");
                $(".shopping-cart-content[data-type='offline'] .checkbox").removeClass("selected");
            }
            $select_all_online_items.toggleClass("selected");
            update();
        });
        $select_all_offline_items.click(function () {
            if ($select_all_offline_items.hasClass("selected")) {
                $(".shopping-cart-content[data-type='offline'] .checkbox").removeClass("selected");
            } else {
                $select_all_online_items.removeClass("selected");
                $(".shopping-cart-content[data-type='offline'] .checkbox").addClass("selected");
                $(".shopping-cart-content[data-type='online'] .checkbox").removeClass("selected");
            }
            $select_all_offline_items.toggleClass("selected");
            update();
        });

        get_shopping_carts();
    });

</script>
</html>