<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的药箱</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/sweetalert.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
</head>
<body>
<div class="shopping_header">
    <img src="../images/tab/tab_03.png" alt="">
    <p class="title">我的药箱</p>
    <span class="edit_btn">编辑</span>
</div>
<div class="shoppingCar_body">
    <div class="carOne">
        <div class="shoppingCar_title">
            <img src="../images/shoppingcar/shopping_60.png" alt="">
            全选 <span>1号购物车（药店取货）</span>
        </div>
        <div class="offline empty_shoppingCar hidden">
            <img src="../images/shoppingcar/shopping_44.png" alt="">
            <p>购物车空空如也 <br>去抢购吧…</p>
            <a href="store.html">
                <button>去逛逛</button>
            </a>
        </div>
        <div id="offline_shopping_car"></div>
    </div>
    <div class="carTwo">
        <div class="shoppingCar_title">
            <img src="../images/shoppingcar/shopping_60.png" alt="">
            全选 <span>2号购物车（邮购）</span>
        </div>
        <div class="online empty_shoppingCar hidden">
            <img src="../images/shoppingcar/shopping_44.png" alt="">
            <p>购物车空空如也 <br>去抢购吧…</p>
            <a href="store.html">
                <button>去逛逛</button>
            </a>
        </div>
        <div id="online_shopping_car"></div>
    </div>
    <div class="settle_accounts">
        <span class="account_details">
            <span class="count">共5件商品</span>
            总价<span class="price">￥996.00</span>
        </span><span class="account" onclick="location='orderConfirm.html'">去结算</span>
    </div>
</div>
<div class="footer">
    <ul class="nav">
        <li>
            <a href="index.html">
                <img src="../images/tab/tab_32.png" alt="">
                首页
            </a>
        </li>
        <li>
            <a href="store.html">
                <img src="../images/tab/tab_36.png" alt="">
                精品商城
            </a>
        </li>
        <li class="active">
            <a href="">
                <img src="../images/tab/tab_50.png" alt="">
                我的药箱
            </a>
        </li>
        <li>
            <a href="personal.html">
                <img src="../images/tab/tab_40.png" alt="">
                个人中心
            </a>
        </li>
    </ul>
</div>
</body>
<script src="../javascript/jquery-3.2.1.min.js"></script>
<script src="../javascript/sweetalert.min.js"></script>
<script src="../javascript/underscore-1.8.3.min.js"></script>
<script src="../javascript/util.js"></script>
<script type="text/template" id="offline_shopping_car_template">
    <ul class="shoppingCar_content">
        <% _.each(items, function (item) { %>
        <li>
            <div class="select_img"><img src="../images/shoppingcar/shopping_60.png" alt=""></div>
            <div class="product_img"><img src="../images/details/home_48@3x.png" alt=""></div>
            <div class="product_details">
                <span class="pharmacy">药店</span>
                <% if() { %>
                    <span class="mail_order">邮购</span>
                <% } %>
                <div class="detail_title">
                    <span class="product_name">商品名称商品名称</span>
                </div>
                <div class="product_price">￥588</div>
                <div class="product_amount">
                    <span class="sub"><img src="../images/shoppingcar/shopping_11.png" alt=""></span>
                    <span class="amount">10</span>
                    <span class="add"><img src="../images/shoppingcar/shopping_16.png" alt=""></span>
                </div>
                <button>去邮购</button>
            </div>
        </li>
        <% }); %>
    </ul>
</script>
<script type="text/template" id="online_shopping_car_template">
    <ul class="shoppingCar_content">
        <% _.each(items, function (item) { %>
        <li>
            <div class="select_img"><img src="../images/shoppingcar/shopping_60.png" alt=""></div>
            <div class="product_img"><img src="../images/details/home_48@3x.png" alt=""></div>
            <div class="product_details">
                <span class="pharmacy">药店</span>
                <span class="mail_order">邮购</span>
                <div class="detail_title">
                    <span class="product_name">商品名称商品名称</span>
                </div>
                <div class="product_price">￥588</div>
                <div class="product_amount">
                    <span class="sub"><img src="../images/shoppingcar/shopping_11.png" alt=""></span>
                    <span class="amount">10</span>
                    <span class="add"><img src="../images/shoppingcar/shopping_16.png" alt=""></span>
                </div>
                <button>去药店</button>
            </div>
        </li>
        <% }); %>
    </ul>
</script>
<script>

    var online_template = _.template($("#online_shopping_car_template").html());
    var offline_template = _.template($("#offline_shopping_car_template").html());
    var $online_shopping_car = $("#online_shopping_car");
    var $offline_shopping_car = $("#offline_shopping_car");
    var $online_empty_car = $(".online.empty_shoppingCar");
    var $offline_empty_car = $(".offline.empty_shoppingCar");

    get_shopping_car("online");

    get_shopping_car("offline");

    function get_shopping_car(type) {
        ajax({
            url: "/shopping_cart",
            data: {"type": type},
            headers: {"X-Requested-With": "h5"},
            success: function (json) {
                if(json.success.length) {
                    if(type === "online") {
                        $online_empty_car.addClass("hidden");
                        $online_shopping_car.html(online_template({"items": json.success}));
                    }else if(type === "offline") {
                        $offline_empty_car.addClass("hidden");
                        $offline_shopping_car.html(offline_template({"items": json.success}));
                    }
                }else {
                    if(type === "online") {
                        $online_empty_car.removeClass("hidden");
                    }else if(type === "offline") {
                        $offline_empty_car.removeClass("hidden");
                    }
                }
            }
        });
    }
</script>
</html>