@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}

//登录页面
.login{
  width: 100%;
  height: p2r(1334);
  overflow: hidden;
  .logo{
    width: p2r(200);
    height: p2r(200);
    margin: p2r(120) auto p2r(60) auto;
  }
  .login_form{
    width: 100%;
    padding:0 p2r(50);
    .item{
      width: 100%;
      height: p2r(88);
      overflow: hidden;
      border-bottom: 1px solid rgba(255,255,255,.5);
      position: relative;
      .seePsw{
        position: absolute;
        width: p2r(40);
        height: p2r(40);
        top: p2r(40);
        right: 0;
      }
      img{
        width: p2r(40);
        height: p2r(40);
        position: absolute;
        left: 0;
        bottom: p2r(20);
      }
      input{
        position: absolute;
        left:p2r(60);
        top:p2r(18);
        width: 70%;
        height: p2r(70);
        line-height: p2r(70);
        font-size: p2r(32);
        background: transparent;
        color:white;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #FFFFFF;
        font-size: p2r(32);
      }
      input:-moz-placeholder, textarea:-moz-placeholder {
        color: #ffffff;
        font-size: p2r(32);
      }
    }
  }
  .loginBtn{
    width: p2r(600);
    height: p2r(100);
    line-height: p2r(100);
    background: #0FB87F;
    text-align: center;
    margin: p2r(80) auto 0 auto;
    font-size: p2r(36);
    color:#FFFFFF;
    border-radius: p2r(10);
  }
  .otherOp{
    width: 100%;
    padding: p2r(50);
    color:#FFFFFF;
    font-size: p2r(28);
    .forget{
      float: right;
      color:#0FB87F;
    }
  }
  .otherLogin{
    width: 100%;
    padding: p2r(200) p2r(90) 0 p2r(90);
    text-align: center;
    .slogan{
      width: 100%;
      height: p2r(40);
      line-height: p2r(40);
      font-size: p2r(28);
      color:#666666;
      span{
        display: inline-block;
        width: 20%;
        height: p2r(2);
        background: #666666;
        vertical-align: middle;
      }
    }
    .ways{
      width: p2r(415);
      height: p2r(125);
      margin: 0 auto;
      padding-top: p2r(40);
      .way{
        float: left;
        width: p2r(84);
        height: p2r(84);
        margin-right: p2r(80);
        background-size: cover;
        background-position: center;
      }
      .way:nth-child(3){
        margin-right: 0;
      }
    }
  }
}

//绑定手机页面
.bindBody{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f3f3f3;
  .notice{
    width: 100%;
    height: p2r(100);
    line-height: p2r(100);
    font-size: p2r(28);
    color:#999999;
    padding-left: p2r(68);
  }
  .bindOperation{
    width: 100%;
    background: #FFFFFF;
    font-size: 0;
    .operationItems{
      width: 100%;
      padding: 0 p2r(20);
      height: p2r(100);
      border-bottom: p2r(1) solid #dedede;
      img{
        width: p2r(40);
        height: p2r(40);
        margin: p2r(22) p2r(8) p2r(38) 0;
        vertical-align: middle;
      }
      input{
        width: 60%;
        height: p2r(100);
        line-height: p2r(100);
        vertical-align: middle;
        font-size: p2r(32);
        color:#999999;
        background: transparent;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #999999;
        font-size: p2r(32);
      }
      input:-moz-placeholder, textarea:-moz-placeholder {
        color: #999999;
        font-size: p2r(32);
      }
    }
    .operationItems:nth-child(3){
      border-bottom: none;
      .verification_code_btn{
        width: auto;
        height: auto;
        line-height: normal;
        padding: p2r(14) p2r(14);
        float:right;
        background: #91c46c;
        color:#FFFFFF;
        font-size: p2r(24);
        vertical-align: middle;
        margin-top: p2r(20);
        border-radius: p2r(8);
      }
    }
  }
  .finish_btn{
    display: block;
    width: p2r(600);
    height:p2r(88);
    margin: p2r(100) auto;
    line-height: p2r(88);
    font-size: p2r(36);
    border-radius: p2r(5);
    color:#FFFFFF;
    background: #0FB87F;
  }
}

//我的收藏页面 我的足迹
.collectionBody{
  width: 100%;
  background: #f3f3f3;
  .colCategory{
    width: p2r(600);
    height: p2r(60);
    line-height: p2r(60);
    font-size:0 ;
    margin: p2r(30) auto 0 auto;
    background: #FFFFFF;
    border:p2r(1) solid #dadada;
    border-radius: p2r(10);
    overflow: hidden;
    span{
      display: inline-block;
      width: 50%;
      height: p2r(58);
      font-size: p2r(32);
      text-align: center;
    }
    .active{
      background: #0FB87F;
      color:#ffffff;
    }
  }
  .articleList{
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    margin-top: p2r(30);
    .article{
      width: 96%;
      height: p2r(230);
      margin: 0 auto;
      padding: p2r(30) 0;
      border-top: p2r(1) solid #dadada;
      overflow: hidden;
      position: relative;
      .img{
        width: p2r(230);
        height: p2r(160);
        margin-right: p2r(20);
        background: paleturquoise;
      }
      .content{
        position: absolute;
        left:p2r(250);
        top: p2r(30);
        h2{
          color:#333333;
          font-size: p2r(32);
          font-weight: bold;
          .new{
            background: #ff7b5b;
            color:#FFFFFF;
            font-size: p2r(20);
            padding: p2r(3) p2r(10);
            margin-left: p2r(16);
            border-radius: p2r(28);
          }
        }
        .describe{
          font-size: p2r(28);
          color:#666666;
          margin-top: p2r(16);
        }
        .others{
          font-size: p2r(24);
          color:#999999;
          margin-top: p2r(16);
          .type{
            float: left;
          }
          .date{
            float: right;
          }
        }
      }
    }
    .article:nth-child(1){
      border:none;
    }
  }
  .productList{
    width:92%;
    margin: p2r(30) auto 0 auto;
    font-size: 0;
    .pro{
      float: left;
      background: #FFFFFF;
      width: 49%;
      margin:0 2% p2r(16) 0;
      h3{
        width: 100%;
        padding: p2r(20) 0 p2r(20) 0;
        font-size: p2r(32);
        color:#333333;
        font-weight: normal;
        text-align: center;
      }
      .proImg{
        width: p2r(250);
        height: p2r(250);
        margin: 0 auto;
      }
      .price{
        width: p2r(300);
        height: p2r(50);
        margin: p2r(20) auto;
        font-size: p2r(36);
        color:#d9a86c;
      }
      .proOpr{
        width: p2r(320);
        height: p2r(60);
        margin: 0 auto p2r(30) auto;
        .oprBtn{
          width: p2r(152);
          height: p2r(60);
          float: left;
          margin-right: p2r(16);
          border:p2r(1) solid #dadada;
          border-radius: p2r(6);
          line-height: p2r(60);
          font-size: p2r(16);
          vertical-align: middle;
          img{
            width: p2r(30);
            height: p2r(30);
            margin: p2r(15) p2r(5);
            vertical-align: top;
          }
        }
        .oprBtn:nth-child(2){
          margin-right: 0;
        }
      }
    }
    .pro:nth-child(2n){
      margin-right: 0;
    }
  }
}
