@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;

.comment{
  background: #f3f3f3;
  ul{
    width: 96%;
    margin:0 auto;
    li{
      width: 100%;
      padding: p2r(30) 0 p2r(20) 0;
      overflow: hidden;
      border-bottom: p2r(1) solid #e7e7e7;
      .user_avatar{
        float: left;
        width: p2r(100);
        height: p2r(100);
        margin-left: p2r(20);
        vertical-align: middle;
      }
      .comment_detail{
        width: 80%;
        float: right;
        display: inline-block;
        .detail_title{
          width: 100%;
          height: p2r(50);
          line-height: p2r(50);
          .user_name{
            color: #333333;
            font-size: p2r(32);
            float: left;
          }
          .comment_time{
            color:#b2b2b2;
            font-size: p2r(20);
            float: right;
          }
        }
        .score{
          width: 100%;
          height: p2r(50);
          font-size: 0;
          overflow: hidden;
          vertical-align: top;
          margin: p2r(10) 0;
          padding: 0;
          li{
            display: inline-block;
            margin: 0 p2r(6) 0 0;
            padding:0;
            width: p2r(38);
            height: p2r(38);
            border:none;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .describe{
          font-size: p2r(28);
          color:#666666;
        }
        .commentImg{
          margin-top: p2r(20);
          min-height: p2r(160);
          .imgs{
            float: left;
            border:p2r(1) solid #d1d1d1;
            width: p2r(160);
            height: p2r(160);
            margin:0 p2r(20) p2r(20) 0 ;
          }
        }
        .addComment{
          margin-top: p2r(20);
          clear: left;
          .addIcon{
            background: #91c46c;
            color:#FFFFFF;
            font-size: p2r(28);
            padding: p2r(5) p2r(10);
            border-radius: p2r(5);
          }
          .describe{
            margin-top: p2r(20);
          }
          .addCommentDate{
            float: right;
            font-size: p2r(24);
            color:#999999;
            margin-top: p2r(20);
          }
        }
        .product_SKU{
          width: 100%;
          height: p2r(40);
          margin: p2r(20) 0;
          .product{
            float: left;
            color:#666666;
            font-size: p2r(22);
          }
          .date{
            float: right;
            color:#b2b2b2;
            font-size: p2r(22);
          }
        }
      }
    }
  }
}

.createComment{
  width: 100%;
  padding-bottom: p2r(100);
  overflow: hidden;
  .orderId{
    width: 100%;
    height: p2r(70);
    line-height: p2r(70);
    background: #e7e7e7;
    text-indent: 1em;
    color: #666666;
    font-size: p2r(28);
  }
  .SKU_info{
    width:100%;
    height: p2r(240);
    padding: p2r(20);
    background: #FFFFFF;
    .SKU_img{
      display: inline-block;
      width: 30%;
      height: p2r(200);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      vertical-align: middle;
    }
    .SKU_content{
      display: inline-block;
      width: 60%;
      height: p2r(200);
      margin-left: p2r(20);
      vertical-align: middle;
      .SKU_name{
        width: 100%;
        height: p2r(50);
        line-height: p2r(50);
        font-size: p2r(32);
        color:#3c3c3c;
        span{
          float: right;
          color: #999999;
        }
      }
      .specs{
        padding: p2r(10) 0;
      }
      .score{
        width: 100%;
        height: p2r(50);
        margin-top: p2r(20);
        li{
          display: inline-block;
          width: p2r(50);
          height: p2r(50);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .firstPost,.additionalPost{
    width: 100%;
    padding:0 3% p2r(20) 3%;
    background: #FFFFFF;
    p{
      width: 100%;
      padding-top: p2r(30);
      line-height: 1.5;
      border-top: p2r(1) solid #d1d1d1;
      font-size: p2r(28);
      color:#666;
    }
    @media only screen and (min-width: 370px){
      .firstImgList{
        max-width: p2r(750);
        margin: p2r(20) auto 0 auto;
        min-height: p2r(180);
        overflow: hidden;
        .firstImg{
          float: left;
          width:p2r(160);
          height:p2r(160);
          border:p2r(1) solid #d1d1d1;
          margin-right: p2r(20);
          margin-bottom: p2r(20);
        }
        .firstImg:nth-child(4){
          margin-right: 0;
        }
      }
    }
    @media only screen and (max-width: 360px) {
      .firstImgList{
        max-width: p2r(640);
        margin: p2r(20) auto;
        min-height: p2r(170);
        overflow: hidden;
        .firstImg{
          float: left;
          width:p2r(180);
          height:p2r(180);
          border:p2r(1) solid #d1d1d1;
          margin-right: p2r(20);
          margin-bottom: p2r(20);
        }
        .firstImg:nth-child(3){
          margin-right: 0;
        }
      }
    }
    .date{
      width: 100%;
      text-align: right;
      height: p2r(60);
      line-height: p2r(60);
      font-size: p2r(28);
      color:#666666;
      border-bottom: p2r(1) solid #d1d1d1;
    }
  }
  .additionalPost{
    p{
      border: none;
    }
    .addIcon{
      background: #91c46c;
      color:#FFFFFF;
      font-size: p2r(28);
      padding: p2r(5) p2r(10);
      border-radius: p2r(5);
    }
  }
  .comment_content{
    width: 100%;
    padding: 0 3%;
    background: #FFFFFF;
    clear: left;
    h2{
      font-size: p2r(32);
      font-weight: bolder;
      color:#333333;
      margin: p2r(18) 0;
    }
    textarea{
      display: block;
      width: 100%;
      height: p2r(200);
      margin:0;
      border:p2r(1) solid #e3e3e3;
      border-radius: p2r(14);
      text-indent:1em;
      padding: p2r(10);
      font-size: p2r(28);
      color:#666666;
    }
  }
  .comment_img{
    width: 100%;
    padding: p2r(20) 3% p2r(20) 3%;
    overflow: hidden;
    background: #FFFFFF;
    h2{
      font-size: p2r(32);
      font-weight: bolder;
      color:#333333;
      margin: p2r(18) 0;
      span{
        font-size: p2r(24);
        color:#999999;
      }
    }
    @media only screen  and ( min-width:p2r(721)) {
      .images {
        margin: 0 auto;
        max-width: p2r(700);
        min-height: p2r(460);
        .img {
          height: p2r(220);
          width: p2r(220);
          margin: 0 p2r(20) p2r(20) 0;
          float: left;
          border:p2r(1) solid #e3e3e3;
          border-radius: p2r(10);
        }
        .img:nth-child(3n){
          margin-right: 0;
        }
        .addButton{
          text-align: center;
          position: relative;
          .upAvatar{
            position: absolute;
            width: p2r(210);
            height: p2r(210);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1000;
          }
          div{
            position: absolute;
            top: p2r(50);
            left:p2r(70);
            width: p2r(80);
            height: p2r(80);
          }
          span{
            position: relative;
            top: p2r(150);
            font-size: p2r(28);
            color:#999999;
          }
        }
      }
    }
    @media only screen and (max-width: p2r(720)) {
      .images {
        margin: 0 auto;
        max-width: p2r(480);
        min-height: p2r(700);
        .img {
          height: p2r(220);
          width: p2r(220);
          margin: 0 p2r(30) p2r(20) 0;
          float: left;
          border:p2r(1) solid #e3e3e3;
          border-radius: p2r(10);
        }
        .img:nth-child(2n){
          margin-right: 0;
        }
        .addButton{
          text-align: center;
          position: relative;
          .upAvatar{
            position: absolute;
            width: p2r(210);
            height: p2r(210);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1000;
          }
          div{
            position: absolute;
            top: p2r(50);
            left:p2r(70);
            width: p2r(80);
            height: p2r(80);
          }
          span{
            position: relative;
            top: p2r(150);
            font-size: p2r(28);
            color:#999999;
          }
        }
      }
    }
    p{
      padding-top: p2r(20);
      font-size: p2r(28);
      color:#999999;
    }
  }
  .submit_button{
    width: 84%;
    height: p2r(88);
    text-align: center;
    line-height: p2r(88);
    margin: p2r(40) auto;
    background: $color-main;
    color: #FFFFFF;
    font-size: p2r(32);
    border-radius: p2r(16);
  }
}
.status{
  width: 100%;
  height: p2r(105);
  background: #FFFFFF;
  margin-bottom: p2r(16);
  font-size: 0;
  overflow: hidden;
  .pending,.done{
    display: inline-block;
    width: 50%;
    height: p2r(105);
    font-size: p2r(28);
    text-align: center;
    h3{
      padding: p2r(20) 0 p2r(12) 0;
      color:#666666;
    }
    .count{
      width:p2r(120);
      margin: 0 auto;
      border-bottom: p2r(5) solid #0FB87F;
      color:#0FB87F;
    }
    a{
      .count{
        border:none;
        color:#999999;
      }
    }
  }
}
.comment_order{
  width: 100%;
  padding-bottom: p2r(100);
  li{
    width: 100%;
    .SKU_info{
      width:100%;
      height: p2r(260);
      padding: p2r(20);
      background: #FFFFFF;
      font-size: 0;
      border-bottom: p2r(1) solid #e7e7e7;
      .left{
        display: inline-block;
        width: 30%;
        height: p2r(200);
        vertical-align: middle;
        .SKU_img{
          width: p2r(160);
          height: p2r(160);
          margin: p2r(10);
          background-position: center;
          background-size: cover;
        }
      }
      .SKU_content{
        display: inline-block;
        width: 70%;
        height: p2r(200);
        padding-left: p2r(10);
        vertical-align: middle;
        .SKU_name{
          width: 100%;
          height: p2r(50);
          line-height: p2r(50);
          font-size: p2r(32);
          color:#3c3c3c;
          span{
            float: right;
            color: #666666;
          }
        }
        .SKU_describe{
          width: 100%;
          height: p2r(60);
          line-height: p2r(60);
          font-size: p2r(28);
          color:#666666;
          span{
            margin-right: p2r(20);
          }
        }
        .sku_price{
          width: 100%;
          height: p2r(60);
          line-height: p2r(60);
          font-size: p2r(36);
          color:#ff7b5b;
        }
        .buttons{
          float: right;
          button{
            width: p2r(180);
            height: p2r(54);
            border-radius: p2r(10);
            font-size: p2r(28);
            border:p2r(1) solid #0FB87F;
            background: #FFFFFF;
            color:#0FB87F;
            margin-left: p2r(20);
          }
        }
      }
    }
  }
}
.p{
  text-align: center;
  font-size: p2r(28);
}