@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
.comment{
  background: #f3f3f3;
  ul{
    width: 96%;
    margin:0 auto;
    li{
      width: 100%;
      padding: p2r(30) 0 p2r(20) 0;
      overflow: hidden;
      border-bottom: p2r(1) solid #e7e7e7;
      .user_avatar{
        float: left;
        width: p2r(100);
        height: p2r(100);
        margin-left: p2r(20);
        vertical-align: middle;
      }
      .comment_detail{
        width: 80%;
        float: right;
        display: inline-block;
        .detail_title{
          width: 100%;
          height: p2r(50);
          line-height: p2r(50);
          .user_name{
            color: #666666;
            font-size: p2r(22);
            float: left;
          }
          .comment_time{
            color:#b2b2b2;
            font-size: p2r(20);
            float: right;
          }
        }
        .score{
          width: 100%;
          height: p2r(50);
          font-size: 0;
          overflow: hidden;
          vertical-align: top;
          margin: p2r(10) 0;
          padding: 0;
          li{
            display: inline-block;
            margin: 0;
            padding:0;
            width: p2r(38);
            height: p2r(38);
            border:none;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .describe{
          font-size: p2r(26);
          color:#3c3c3c;
        }
        .product_SKU{
          width: 100%;
          height: p2r(40);
          margin: p2r(20) 0;
          .product{
            float: left;
            color:#666666;
            font-size: p2r(22);
          }
          .date{
            float: right;
            color:#b2b2b2;
            font-size: p2r(22);
          }
        }
      }
    }
  }
}

.createComment{
  width: 100%;
  .orderId{
    width: 100%;
    height: p2r(70);
    line-height: p2r(70);
    background: #e7e7e7;
    text-indent: 1em;
    color: #666666;
    font-size: p2r(28);
  }
  .SKU_info{
    width:100%;
    height: p2r(240);
    padding: p2r(20);
    background: #FFFFFF;
    .SKU_img{
      display: inline-block;
      width: 30%;
      height: p2r(200);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      vertical-align: middle;
    }
    .SKU_content{
      display: inline-block;
      width: 60%;
      height: p2r(200);
      margin-left: p2r(20);
      vertical-align: middle;
      .SKU_name{
        width: 100%;
        height: p2r(50);
        line-height: p2r(50);
        font-size: p2r(32);
        color:#3c3c3c;
        span{
          float: right;
          color: #999999;
        }
      }
      .score{
        width: 100%;
        height: p2r(50);
        margin-top: p2r(80);
        li{
          display: inline-block;
          width: p2r(50);
          height: p2r(50);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .comment_content{
    width: 100%;
    padding: p2r(20);
    background: #fafafa;
    h2{
      text-indent: 1em;
      font-size: p2r(32);
      font-weight: normal;
      color:#171717;
      margin: p2r(18) 0;
    }
    textarea{
      display: block;
      width: 96%;
      height: p2r(200);
      margin:0 auto;
      border:p2r(1) solid #e3e3e3;
      border-radius: p2r(20);
      text-indent:1em;
      padding: p2r(10);
      font-size: p2r(28);
      color:#666666;
    }
  }
  .submit_button{
    width: 84%;
    height: p2r(88);
    text-align: center;
    line-height: p2r(88);
    margin: p2r(40) auto;
    background: $color-main;
    color: #FFFFFF;
    font-size: p2r(32);
    border-radius: p2r(16);
  }
}

.comment_order{
  width: 100%;
  padding-bottom: p2r(100);
  li{
    width: 100%;
    .SKU_info{
      width:100%;
      height: p2r(240);
      padding: p2r(20);
      background: #FFFFFF;
      .SKU_img{
        display: inline-block;
        width: 30%;
        height: p2r(200);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        vertical-align: middle;
      }
      .SKU_content{
        display: inline-block;
        width: 60%;
        height: p2r(200);
        margin-left: p2r(20);
        vertical-align: middle;
        .SKU_name{
          width: 100%;
          height: p2r(50);
          line-height: p2r(50);
          font-size: p2r(32);
          color:#3c3c3c;
          span{
            float: right;
            color: #666666;
          }
        }
        .sku_price{
          width: 100%;
          height: p2r(60);
          line-height: p2r(60);
          margin-top: p2r(80);
          color:#d9a86c;
          button{
            width: p2r(180);
            height: p2r(54);
            float: right;
            border-radius: p2r(10);
            font-size: p2r(28);
            border:p2r(1) solid #0FB87F;
            background: #FFFFFF;
            color:#0FB87F;
          }
        }
      }
    }
  }
}