@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
@mixin coupon_item{
  width: 94%;
  background: #FFFFFF;
  margin: p2r(20) auto;
  height: p2r(380);
  position: relative;
  .limit_status{
    position: absolute;
    top:0;
    right: 0;
    width: p2r(160);
  }
  .coupon_value{
    width: 100%;
    height: p2r(200);
    background-image: url("/images/personal/coupon_bg.png");
    background-size: p2r(40);
    background-position: left bottom;
    background-repeat: repeat-x;
    border-radius: p2r(15) p2r(15) 0 0;
    font-size: 0;
    .unit,.value_num{
      display: inline-block;
      height: p2r(200);
      line-height: p2r(200);
      color:#FFFFFF;
    }
    .unit{
      font-size: p2r(50);
      width: 5%;
      margin-left: p2r(20);
    }
    .value_num{
      width:35%;
      font-size: p2r(120);
      text-indent: p2r(20);
    }
    p{
      display: inline-block;
      width: 52%;
      padding-top: p2r(10);
      color:#FFFFFF;
      font-size: p2r(26);
      .coupon_title{
        display: block;
        font-size: p2r(40);
        margin-bottom: p2r(10);
      }
      .date_limit{
        font-size: p2r(22);
        margin-top: p2r(10);
      }
    }
  }
  .coupon_detail {
    width: 100%;
    height: p2r(180);
    padding: p2r(10) p2r(20);
    border-radius: 0 0 p2r(15) p2r(15);
    h3 {
      font-size: p2r(32);
      font-weight: normal;
      margin-bottom: p2r(30);
      img {
        float: right;
        width: p2r(40);
      }
    }
    ul{
      li{
        font-size: p2r(28);
        line-height: 1.5;
      }
    }
  }
}
.coupon_body{
  background: #fafafa;
  padding-bottom: p2r(200);
  .coupon_category{
    width: 94%;
    height: p2r(70);
    margin:p2r(42) auto p2r(40) auto;
    font-size: 0;
    span{
      background: #FFFFFF;
      display: inline-block;
      width: 33%;
      height: p2r(70);
      line-height: p2r(70);
      font-size: p2r(32);
      text-align: center;
      box-sizing: border-box;
      border:p2r(1) solid #e7e7e7;
      border-collapse: collapse;
    }
    span.used{
      border-right: none;
      border-left: none;
    }
    span.available{
      border-radius: p2r(20) 0 0 p2r(20);
    }
    span.unavailable{
      border-radius: 0 p2r(20) p2r(20) 0;
    }
    span.active{
      color:#FFFFFF;
      background: $color-main;
    }
  }
  .coupon_lists{
    .coupon_hundred{
      .coupon_value{
        background: #6dce65;
      }
      @include coupon_item;
    }
    .coupon_fifty{
      .coupon_value{
        background: #64a8cd;
      }
      @include coupon_item;
    }
    .coupon_twenty{
      .coupon_value{
        background: #65ceb0;
      }
      @include coupon_item;
    }
    .coupon_ten{
      .coupon_value{
        background: #d07fe0;
      }
      @include coupon_item;
    }
    .coupon_five{
      .coupon_value{
        background: #cea565;
      }
      @include coupon_item;
    }
  }
}
.total_body{
  .usable_total{
    width: 100%;
    height: p2r(300);
    background: $color-main;
    text-align: center;
    p{
      width: 100%;
      height: p2r(200);
      font-size: p2r(120);
      padding-top: p2r(50);
      color:#fff600;
    }
    span{
      color:#FFFFFF;
      font-size: p2r(32);
    }
  }
  .total_use_record{
    width: 100%;
    li{
      width: 100%;
      padding: 0 p2r(20);
      height: p2r(120);
      border-bottom: p2r(1) solid #dedede;
      overflow: hidden;
      h2{
        font-size: p2r(32);
        font-weight:normal;
        color:#3c3c3c;
        margin: p2r(20) 0 0 0;
      }
      .op_date{
        color:#b2b2b2;
        font-size: p2r(22);
      }
      .total_value{
        float: right;
        font-size: p2r(32);
        color:#666666;
        img{
          width: p2r(40);
          height: p2r(40);
        }
      }
      .add{
        color:$color-main;
      }
    }
  }
}