@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
.info_body{
  width: 100%;
  padding:0 p2r(20);
  h1{
    text-align: center;
    height: p2r(70);
    line-height: p2r(70);
    font-size: p2r(40);
    color:#3c3c3c;
  }
  .content{
    .img{
      width: 100%;
      background: #e7e7e7;
      height: p2r(400);
      background-size: cover;
    }
    p{
      font-size: p2r(28);
      text-indent: p2r(30);
      margin-top: p2r(30);
    }
  }
}