@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
$line-border:p2r(1) solid #cccccc;
@mixin functions{
  padding: p2r(30) 0 p2r(24) 0;
  border-bottom: $line-border;
  img{
    width: p2r(30);
  }
  p{
    display: inline-block;
    font-size: p2r(28);
    color:#3c3c3c;
  }
  .to_details{
    display: inline-block;
    float: right;
    margin-right: p2r(30);
    height: p2r(60);
    overflow: hidden;
    vertical-align: middle;
    img{
      width: p2r(24);
    }
  }
}
@mixin button{
  .chooseBtn {
    display: none;
  }

  .choose-label {
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 40px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
  }

  .choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@mixin selectButton{
  .chooseBtn+label.choose-label:before {
    left: 20px;
  }

  .chooseBtn+ label.choose-label {
    background-color: #91c46c;
  }
}
@mixin other_function{
  padding: p2r(30) 0 p2r(24) 0;
  border-bottom: $line-border;
  overflow: hidden;
  .detail{
    display: block;
    width: 70%;
    p{
      font-size: p2r(28);
      color:#3c3c3c;
    }
    .describe{
      margin-top: p2r(20);
      font-size: p2r(24);
      color:#999999;
    }
  }
  .btn{
    display:block;
    float: right;
    text-align: right;
    padding-right: p2r(30);
    margin-bottom: p2r(20);
    width: 20%;
    @include button;
  }
  .checked{
    @include selectButton;
  }
}
.order_body{
  background: #fafafa;
  width:100%;
  margin-bottom: p2r(200);
  .order_state{
    width: 100%;
    padding:0 p2r(20);
    height: p2r(60);
    line-height: p2r(60);
    font-size: p2r(32);
    background: #e7e7e7;
    color:#171717;
    span{
      float: right;
      font-size: p2r(28);
      color:#666666;
    }
  }
  .consignee_info{
    .consignee_title{
      width: 100%;
      height: p2r(70);
      padding: p2r(20);
      font-size: p2r(28);
      color:#3c3c3c;
      img{
        display: inline-block;
        width:p2r(30);
        height: p2r(30);
      }
    }
    .consignee_content{
      margin:0 p2r(20);
      border-bottom: $line-border;
      color:#666666;
      font-size: p2r(24);
      span{
        display: inline-block;
        width: p2r(200);
        height: p2r(30);
        line-height: p2r(30);
        img{
          width: p2r(25);
          margin-right: p2r(10);
        }
      }
      .phone{
        float: right;
        text-align: right;
      }
      .address{
        margin:p2r(20) 0 p2r(26) 0;
        img{
          width: p2r(20);
          margin-right: p2r(10);
          vertical-align: top;
        }
        p{
          display: inline-block;
          width: 80%;
        }
        .float_right{
          float: right;
          margin-right: p2r(20);
        }
      }
    }
  }
  .order_product{
    width: 96%;
    margin: p2r(20) auto;
    font-size: 0%;
    li{
      width: 100%;
      height: p2r(200);
      .product_img{
        display: inline-block;
        width: 40%;
        height: p2r(200);
        vertical-align: middle;
        img{
          display: block;
          width: p2r(200);
          margin: 0 auto;
        }
      }
      .product_details{
        display: inline-block;
        width: 60%;
        height: p2r(200);
        vertical-align: middle;
        .detail_title{
          margin-top: p2r(20);
          font-size: p2r(28);
        }
        .detail_content{
          margin-top: p2r(50);
          font-size: p2r(32);
          .product_price{
            color:#d9a86c;
          }
          .product_amount{
            float: right;
          }
        }
      }
    }
  }
  .order_functions{
    width: 96%;
    margin: 0 auto;
    .delivery{
      @include functions;
    }
    .coupon_use{
      @include functions;
      .coupon_able{
        display: inline-block;
        color:#999999;
        font-size: p2r(24);
        height: p2r(60);
        vertical-align: middle;
      }
    }
    .total_use{
     @include other_function;
    }
    .invoice_use{
      @include other_function;
      .invoice_type{
        float: right;
        font-size: p2r(24);
        padding-top:p2r(8);
        margin-right: p2r(-10);
      }
    }
    textarea{
      display: block;
      width: 100%;
      margin-top: p2r(20);
      background: #FFFFFF;
      border:p2r(2) solid #d3d3d3;
      color:#666666;
      font-size: p2r(20);
      padding: p2r(20);
    }
  }
  .order_details,.order_real{
    overflow: hidden;
    width: 60%;
    margin:p2r(20) p2r(20) p2r(20) auto;
    text-align: right;
    color:#666666;
    font-size: p2r(22);
    td:nth-child(2){
      color:#3c3c3c;
      font-size: p2r(30);
    }
  }
  .settle_accounts{
    width: 100%;
    height: p2r(86);
    position: fixed;
    bottom:p2r(110);
    .account_details{
      display: inline-block;
      width: 70%;
      height: p2r(86);
      line-height: p2r(86);
      background: #000000;
      opacity: 0.8;
      color:#FFFFFF;
      font-size: p2r(22);
      p{
        display: inline-block;
        text-indent: 2em;
        margin-right: p2r(40);
      }
      .price{
        color:#d9a86c;
        font-size: p2r(32);
      }
    }
    .account{
      display: inline-block;
      width: 30%;
      height: p2r(86);
      line-height: p2r(86);
      background: $color-main;
      text-align: center;
      color:#FFFFFF;
    }
  }
}
.invoice_alert{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  .alert_content{
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    width:90%;
    background: #fafafa;
    margin:0 auto;
    border-radius: p2r(30);
    h1{
      margin:p2r(30) 0;
      text-align: center;
      font-size: p2r(32);
      color: #333333;
    }
    p{
      margin: p2r(30);
      font-size: p2r(24);
      color: #3c3c3c;
    }
    h3{
      padding-left: p2r(30);
      font-size: p2r(28);
      color: #666666;
    }
    .select_type{
      width: 90%;
      height: p2r(50);
      margin: p2r(20) auto;
      vertical-align: middle;
      font-size: p2r(24);
      input{
        width: p2r(50);
        height: p2r(50);
        vertical-align: middle;
        margin-left:p2r(50);
      }
    }
    .input{
      width: 90%;
      margin: p2r(20) auto;
      input{
        width: 100%;
        height: p2r(50);
        line-height: p2r(50);
        font-size: p2r(28);
        margin-top: p2r(20);
      }
    }
    .operation{
      width: 100%;
      height: p2r(100);
      font-size: 0;
      button{
        width: 50%;
        height: 100%;
        text-align: center;
        font-size: p2r(32);
        background: transparent;
        border-top:p2r(1) solid #e3e3e3;
      }
      button:nth-child(1){
        border-right:p2r(1) solid #e3e3e3;
      }
    }
  }
}