@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
//个人中心头像及我的订单
.personal{
  width: 100%;
  height: p2r(780);
  background: #f3f3f3;
  overflow: hidden;
  position: relative;
  .bg{
    width: 100%;
    height: p2r(580);
    z-index: -100;
    .bg_img{
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }
  }
  .mask{
    width: 100%;
    height: p2r(580);
    position: absolute;
    top: 0;
    background: rgba(250,250,250,.7);
    .edit_btn{
      display: block;
      float: right;
      font-size: p2r(28);
      color:#ffffff;
      margin: p2r(30) p2r(20);
    }
    .person_avatar{
      width: p2r(220);
      height: p2r(260);
      margin: p2r(150) auto;
      text-align: center;
      .user_avatar{
        font-size: 0;
        width: p2r(210);
        height: p2r(210);
        overflow: hidden;
        border-radius: p2r(216);
        border:p2r(5) solid rgba(255,255,255,.3);
        margin: 0 auto;
        position: relative;
        .upAvatar{
          position: absolute;
          width: p2r(210);
          height: p2r(210);
          top: 0;
          left: 0;
        }
        .avatar_img{
          width: p2r(200);
          height: p2r(200);
          background-position: center center;
          background-size: cover;
        }
      }
      .user_name{
        display: block;
        margin: p2r(16) auto p2r(20) auto;
        color:#ffffff;
        font-size: p2r(32);
      }
      .total{
        width: p2r(200);
        height: p2r(50);
        margin: 0 auto;
        padding: p2r(5) p2r(10);
        background: rgba(255,255,255,.3);
        border-radius: p2r(5);
        color:#ffffff;
        line-height: p2r(40);
        font-size: p2r(24);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span{
          font-size: p2r(32);
        }
      }
    }
  }
  .user_order{
    width: 92%;
    height: p2r(190);
    background: $color-main;
    position: absolute;
    top:p2r(520);
    left:4%;
    border-radius: p2r(10);
    overflow: hidden;
    .to_order_title{
      padding:p2r(18);
      font-size: p2r(32);
      color:#ffffff;
      img{
        width: p2r(25);
        float: right;
      }
    }
    .order_tabs{
      width: 100%;
      padding: 0 p2r(22);
      font-size: 0;
      li{
        display: inline-block;
        width: 25%;
        text-align: center;
        margin-bottom: p2r(10);
        position: relative;
        .divide{
          position: absolute;
          right: 0;
          top: 18px;
          width: 1px;
          height: p2r(60);
          background: #FFFFFF;
          opacity: .3;
          vertical-align: top;
        }
        img{
          width: p2r(60);
          display: block;
          margin: 0 auto p2r(10) auto;
          vertical-align: top;
        }
        a{
          color: #ffffff;
          font-size: p2r(24);
        }
      }
    }
  }
  h2{
    position: absolute;
    top:p2r(730);
    left:4%;
    color:#3c3c3c;
    font-size: p2r(32);
  }
}
.bg_color{
  background: #f3f3f3;
  .record{
    width: 100%;
    padding: p2r(20) p2r(40);
    border-bottom: p2r(28) solid #fafafa;
    background: #fff;
    .record_coupon,.total{
      display: inline-block;
      width: p2r(108);
      height: p2r(108);
      color:#666666;
      text-align: center;
      font-size: p2r(24);
      margin-right: p2r(30);
      img{
        width: p2r(80);
        display: block;
        margin: p2r(10) auto;
      }
    }
  }
  .otherItems{
    border-bottom: p2r(28) solid #fafafa;
    width:100%;
    padding:0 p2r(40);
    margin-bottom: p2r(100);
    background: #FFFFFF;
    .address,.setting{
      height: p2r(80);
      line-height: p2r(70);
      padding: p2r(10) 0;
      color:#666666;
      font-size: p2r(28);
      border-bottom: p2r(1) solid #e7e7e7;
      overflow: hidden;
      img{
        width: p2r(28);
      }
      span{
        float: right;
        img{
          width: p2r(20);
        }
      }
    }
    .setting{
      border:none;
    }
  }
}
.personal_edit_body{
  width: 100%;
  margin-bottom: p2r(100);
  .info_title{
    padding: p2r(32) p2r(30) p2r(20) p2r(30);
    font-size: p2r(32);
    color: #171717;
    background: #f3f3f3;
    position: relative;
    text-indent: 1.5em;
    img{
      position: absolute;
      width: p2r(42);
      top:p2r(32);
      left:p2r(30);
    }
  }
  .info_item{
    padding:  p2r(24) p2r(30) p2r(10) p2r(30);
    color:#171717;
    font-size: p2r(24);
    overflow: hidden;
    border-bottom: p2r(1) solid #e7e7e7;
    span{
      float: right;
      margin-left: p2r(20);
      font-size: p2r(28);
      color:#b2b2b2;
      img{
        width: p2r(20);
      }
    }
  }
}
.info_alter{
  width: 94%;
  margin: 0 auto;
  p{
    font-size: p2r(24);
    color:#666666;
    padding-top: p2r(20);
  }
  .alter_items{
    height: p2r(90);
    border-bottom: p2r(1) solid #e7e7e7;
    font-size: 0;
    input{
      height: p2r(70);
      margin-top: p2r(20);
      background: transparent;
      font-size: p2r(24);
      vertical-align: middle;
    }
    input.name{
      width: 100%;
    }
    img{
      width: p2r(40);
      margin: p2r(25) p2r(10);
      vertical-align: middle;
    }
    .verification_code_btn{
      height: p2r(50);
      margin-top: p2r(20);
      padding: 0 p2r(5);
      background: #91c46c;
      color:#FFFFFF;
      float: right;
      border-radius: p2r(5);
    }
  }
  .finish_btn{
    width: 94%;
    display: block;
    height: p2r(100);
    line-height: p2r(100);
    font-size: p2r(34);
    color:#FFFFFF;
    background: $color-main;
    border-radius: p2r(10);
    text-align: center;
    margin:p2r(68) auto 0 auto;
  }
}
.setting_body{
  width: 100%;
  .settingItem{
    li{
      height: p2r(88);
      line-height: p2r(88);
      font-size: p2r(28);
      color:#666666;
      border-bottom: p2r(1) solid #e7e7e7;
      overflow: hidden;
      img{
        width: p2r(70);
        vertical-align: middle;
        margin-left: p2r(20);
      }
      span{
        float: right;
        img{
          width: p2r(20);
          margin-right: p2r(20);
        }
      }
    }
  }
  .sign_out_btn{
    width: p2r(570);
    height: p2r(76);
    margin:p2r(60) auto;
    line-height: p2r(76);
    border-radius: p2r(12);
    background: $color-main;
    color:#FFFFFF;
    font-size: p2r(28);
    text-align: center;
  }
}