@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}

$color-main: #0fb87f;
body{
  background: #fafafa;
}
@mixin shoppingCar {
  .shoppingCar_title {
    width: 100%;
    height: p2r(80);
    line-height: p2r(80);
    background: #e7e7e7;
    color: #3c3c3c;
    font-weight: normal;
    font-size: p2r(28);
    .checkbox-all {
      margin: p2r(24) p2r(20);
      float: left;
      width: p2r(32);
      height: p2r(32);
      background-image: url(/images/shoppingcar/shopping_60.png);
    }
    .checkbox-all.selected {
      background-image: url(/images/shoppingcar/shopping_57.png);
    }
    div {
      float: left;
      font-size: p2r(28);
    }
    span{
      color:#666666;
    }
  }
  .empty_shoppingCar {
    width: 100%;
    height: p2r(500);
    text-align: center;
    img {
      display: block;
      width: 40%;
      margin: p2r(30) 35% p2r(20) 25%;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: p2r(32);
      color: #777777;
    }
    button {
      width: 30%;
      height: p2r(66);
      line-height: p2r(66);
      background: #f3f3f3;
      border: p2r(1) solid $color-main;
      border-radius: p2r(10);
      font-size: p2r(26);
      color: $color-main;
      margin-top: p2r(30);
    }
  }
}

.shopping-cart-content {
  width: 100%;
  li.item {
    width: 100%;
    padding: p2r(30) 0;
    margin-bottom: p2r(30);
    background-color: #fff;
    .sku {
      height: p2r(200);
      .checkbox-wrap {
        float: left;
        width: 10%;
        height: p2r(200);
        .invalid{
          width: p2r(60);
          height: p2r(30);
          margin:p2r(85) p2r(10);
          color:#999999;
          font-size: p2r(16);
          vertical-align: middle;
        }
        .checkbox {
          width: p2r(32);
          height: p2r(32);
          vertical-align: middle;
          margin: p2r(84) auto;
          background-image: url(/images/shoppingcar/shopping_60.png);
        }
        .checkbox.selected {
          background-image: url(/images/shoppingcar/shopping_57.png);
        }
      }
      .image-wrap {
        float: left;
        width: 30%;
        .product_img {
          width: p2r(200);
          height: p2r(200);
        }
      }
      .info {
        float: left;
        width: 60%;
        height: p2r(200);
        padding-right: 5%;
        .row-1 {
          height: p2r(140);
          position: relative;
          .name {
            font-size: p2r(28);
            line-height: p2r(50);
            float: left;
            width: 60%;
            color:#3c3c3c;
          }
          .row-1-1 {
            float: right;
            width: 40%;
            text-align: right;
            .tags {
              height: p2r(40);
              .tag {
                float: right;
                line-height: p2r(36);
                height: p2r(36);
                font-size: p2r(24);
                color: #fff;
                padding: 0 p2r(10);
              }
              .tag-1 {
                background: $color-main;
              }
              .tag-2 {
                background: #91c46c;
                margin-right: p2r(10);
              }
            }
            .switch-cart {
              border-radius: p2r(30);
              margin-top: p2r(20);
              height: p2r(50);
              line-height: p2r(50);
              width: p2r(137);
              color: $color-main;
              font-size: p2r(28);
              border: p2r(1) solid $color-main;
              background: transparent;
            }
          }
        }
        .row-2 {
          height: p2r(60);
          .price {
            float: left;
            font-size: p2r(38);
            line-height: p2r(60);
            height: p2r(60);
            color: #d9a86c;
            width: 40%;
          }
          .quantity-wrap {
            text-align: right;
            float: right;
            height: p2r(60);
            border: solid #e9e9e9 p2r(2);
            border-radius: p2r(10);
            position: relative;
            div {
              float: right;
              height: p2r(56);
              width: p2r(56);
              background: #ffffff;
            }
            .quantity {
              width: p2r(70);
              height: p2r(56);
              font-size: p2r(28);
              line-height: p2r(56);
              text-align: center;
            }
            .divide{
              width: p2r(1);
              height: p2r(44);
              background: #e7e7e7;
              position: absolute;
              top:p2r(6);
            }
            .left{
              left:p2r(56);
            }
            .right{
              left:p2r(126);
            }
            .sub {
              background-repeat: no-repeat;
              opacity: .5;
              background-position: center;
              background-image: url(/images/shoppingcar/shopping_11.jpg);
              background-size: p2r(32) p2r(32);
            }
            .add {
              background-repeat: no-repeat;
              background-position: center;
              opacity: .5;
              background-image: url(/images/shoppingcar/shopping_16.png);
              background-size: p2r(32) p2r(32);
            }
          }
        }
      }
    }
    .combo {
      width: 100%;
      background-color: #fff;
      .row-1 {
        padding-right: 5%;
        height: p2r(70);
        .checkbox-wrap {
          float: left;
          width: 10%;
          height: p2r(70);
          .checkbox {
            width: p2r(32);
            height: p2r(32);
            vertical-align: middle;
            margin: p2r(19) auto;
            background-image: url(/images/shoppingcar/shopping_60.png);
          }
          .checkbox.selected {
            background-image: url(/images/shoppingcar/shopping_57.png);
          }
        }
        .combo-name {
          position: relative;
          float: left;
          width: 90%;
          line-height: p2r(70);
          height: p2r(70);
          overflow: hidden;
          p{
            width:70%;
            height: p2r(70);
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .tags {
            height: p2r(40);
            position: absolute;
            right: 0;
            top: p2r(15);
            .tag {
              float: right;
              line-height: p2r(36);
              height: p2r(36);
              font-size: p2r(24);
              color: #fff;
              padding: 0 p2r(10);
            }
            .tag-1 {
              background: $color-main;
            }
            .tag-2 {
              background: #91c46c;
              margin-right: p2r(10);
            }
          }
        }
      }
      .detail {
        width: 100%;
        padding-left:10%;
        padding-right: 5%;
        background-color: #fff;
        .units {
          .sku {
            height: p2r(120);
            margin-bottom: p2r(10);
            .image-wrap {
              float: left;
              width: 20%;
              .product_img {
                width: p2r(120);
                height: p2r(120);
              }
            }
            .info {
              width:80%;
              float: left;
              padding:0 0 0 p2r(30);
              height: p2r(120);
              font-size: p2r(24);
              .name{
                overflow: hidden;
              }
              div {
                height: p2r(60);
                line-height: p2r(60);
              }
            }
          }
        }
        .combo-info {
          height: p2r(160);
          line-height: p2r(80);
          .row-2-1{
            .switch-cart {
              float: right;
              margin-top:p2r(15);
              border-radius: p2r(30);
              height: p2r(50);
              line-height: p2r(50);
              width: p2r(137);
              color: $color-main;
              font-size: p2r(28);
              border: p2r(1) solid $color-main;
              background: transparent;
            }
          }
          .row-2-2 {
            .price {
              color: #d9a86c;
              height: p2r(80);
              font-size: p2r(38);
              float: none;
            }
            .quantity-wrap {
              text-align: right;
              float: right;
              height: p2r(60);
              border: solid #e9e9e9 p2r(2);
              border-radius: p2r(10);
              position: relative;
              div {
                float: right;
                height: p2r(56);
                width: p2r(56);
                background: #ffffff;
              }
              .quantity {
                width: p2r(70);
                height: p2r(56);
                font-size: p2r(28);
                line-height: p2r(56);
                text-align: center;
              }
              .divide{
                width: p2r(1);
                height: p2r(44);
                background: #e7e7e7;
                position: absolute;
                top:p2r(6);
              }
              .left{
                left:p2r(56);
              }
              .right{
                left:p2r(126);
              }
              .sub {
                background-repeat: no-repeat;
                opacity: .5;
                background-position: center;
                background-image: url(/images/shoppingcar/shopping_11.jpg);
                background-size: p2r(32) p2r(32);
              }
              .add {
                background-repeat: no-repeat;
                background-position: center;
                opacity: .5;
                background-image: url(/images/shoppingcar/shopping_16.png);
                background-size: p2r(32) p2r(32);
              }
            }
          }
          .switch-cart {
            float: none;
          }
        }

      }
    }

  }
}

.shopping_header {
  width: 100%;
  height: p2r(88);
  background: $color-main;
  position: relative;
  img {
    width: p2r(34);
    position: absolute;
    left: p2r(20);
    top: p2r(20);
  }
  .title {
    width: 100%;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: p2r(32);
    line-height: p2r(88);
  }
  span {
    position: absolute;
    top: p2r(22);
    right: p2r(20);
    font-size: p2r(32);
    color: #ffffff;
  }
  .collect{
    top:p2r(10);
    width: p2r(60);
    left:auto;
    right: p2r(20);
  }
  .deleteFoot{
    font-size: p2r(28);
    top:p2r(32);
  }
}

.shoppingCar_body {
  margin-bottom: p2r(186);
  .carOne {
    @include shoppingCar;
  }
  .carTwo {
    @include shoppingCar;
  }
  .settle_accounts {
    width: 100%;
    height: p2r(86);
    position: fixed;
    bottom: p2r(110);
    .account_details {
      display: inline-block;
      width: 70%;
      height: p2r(86);
      background: #000000;
      opacity: 0.8;
      color: #FFFFFF;
      font-size: p2r(22);
      position: relative;
      .count {
        display: inline-block;
        text-indent: 1em;
        margin: p2r(10) p2r(40);
      }
      p{
        text-indent: 1em;
      }
      .total {
        position: absolute;
        right: p2r(30);
        top: p2r(20);
        color: #d9a86c;
        font-size: p2r(32);
        margin-right: p2r(30);
        vertical-align: middle;
      }
    }
    .account {
      float: right;
      display: inline-block;
      width: 30%;
      height: p2r(86);
      line-height: p2r(86);
      background: $color-main;
      text-align: center;
      color: #FFFFFF;
    }
  }
}
.qrcode {
  width: 200px;
  height: 100%;
  margin: auto;
  position: relative;
  .content{
    height: 200px;
    width: 200px;
    background: #fff;
  }
  .message {
    color: #fff;
    padding-top: p2r(20);
  }
}
