@charset "utf-8";
@function p2r($size) {
  @return ($size/32)*1rem
}
$color-main:#0fb87f;
$color-font:#171717;
$bottom-border:p2r(1) solid #e7e7e7;

.store_header{
  width: 100%;
  height: p2r(90);
  padding-top: p2r(20);
  background: $color-main;
  .search{
    margin-left:8%;
    display: inline-block;
    width:75%;
    height: p2r(56);
    background: #fafafa;
    border-radius: p2r(56);
    img{
      margin-left: p2r(16);
      margin-right: p2r(14);
    }
    input{
      width: 80%;
      height: p2r(56);
      line-height: p2r(56);
      background: #fafafa;
      font-size: p2r(28);
      vertical-align: top;
      border-radius: p2r(56);
      margin-left: p2r(10);
      margin-right: p2r(10);
    }
  }
  button{
    width: 10%;
    height: p2r(56);
    line-height: p2r(56);
    vertical-align: top;
    font-size: p2r(32);
    color:#FFFFFF;
    background: none;
    margin-left: p2r(10);
    margin-right: p2r(10);
  }
}
.banner{
  width: 100%;
  height: p2r(345);
  background: #e7e7e7;
}
.store_body{
  background: #fafafa;
  .category{
    width: 100%;
    height: p2r(240);
    background: #f1eff2;
    .icon{
      float: left;
      width: 33%;
      height: p2r(240);
      text-align: center;
      padding-top: p2r(30);
      h2{
        font-size: p2r(28);
        color:#666666;
      }
    }
  }
  .product_lists{
    ul{
      width: 100%;
      padding:0 p2r(20);
      background: #f1eff2;
      li{
        width: 100%;
        height: p2r(250);
        margin-bottom: p2r(16);
        background: #FFFFFF;
        position: relative;
        .proImg{
          width: p2r(250);
          height: p2r(250);
          background-size: cover;
          background-position: center;
        }
        .proContent{
          position: absolute;
          top: 0;
          left:p2r(250);
          width: 60%;
          height: p2r(250);
          padding: p2r(20) p2r(20) p2r(30) p2r(20);
          h3{
            width: 100%;
            height: p2r(40);
            line-height: p2r(40);
            font-size: p2r(32);
            color:#333333;
            font-weight: 500;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          p{
            width: 100%;
            height: p2r(60);
            margin-top: p2r(20);
            line-height: p2r(30);
            font-size: p2r(28);
            color:#666666;
            isplay: -webkit-box;
            text-overflow: ellipsis;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .other{
            width: 100%;
            height: p2r(90);
            position: relative;
            .price{
              font-size: p2r(36);
              color:#d9a86c;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            .saleVolume{
              position: absolute;
              right: 0;
              bottom: 0;
              color:#999999;
              font-size: p2r(24);
              b{
                color:#333333;
                font-weight: normal;
                padding-left: p2r(10);
              }
            }
          }
        }
      }
    }
  }
}
.bottom_info{
  display: block;
  clear:left;
  width: 100%;
  height: p2r(70);
  line-height: p2r(70);
  text-align: center;
  color: rgb(172, 172, 172);
  font-size: p2r(28);
  margin-bottom: p2r(100);
}